[2017-02-17 15:31] wallacesilva opened #1 "Lastfm support"
How to support lastfm?

[2017-02-17 15:34] khurshid-alam opened #2 "32 bit binary(deb) ?"
Can we have 32 bit binary for deb?

Thanks.

[2017-02-17 19:21] dflock opened #3 "Icon is the wrong size in xfce-panel"
I'm using the latest radiotray-ng and running Xubuntu 16.04.2 - using xfce as my Desktop Environment. I'm using xfce's panels and the radiotray-ng icon appears to be stretched, or the wrong size. It's the second icon from the right, just between the sound menu and network manager:

![screenshot_2017-02-17_11-12-33](https://cloud.githubusercontent.com/assets/47756/23079570/4fef6620-f502-11e6-98a4-d

[2017-02-18 02:01] ebruck commented on #3
Looks like xfce isn't resizing the 256x256 image like Unity is doing. Next release I'll switch to a 24x24 and we'll see how it works for you.

[2017-02-18 02:02] ebruck commented on #2
I'd like to target 16.04 for that. Is this the release you are using?

[2017-02-18 05:08] khurshid-alam commented on #2
Yes.

[2017-02-18 21:53] #3 closed

[2017-02-18 22:40] #2 closed

[2017-02-18 23:15] ebruck commented on #1
I've never used Last.fm and for me it's not really what I wanted out of Radiotray-NG.

[2017-02-18 23:15] #1 closed

[2017-02-19 00:28] dflock commented on #3
Much better, thanks:

![screenshot_2017-02-18_16-25-22](https://cloud.githubusercontent.com/assets/47756/23097961/240adf62-f5f7-11e6-907c-bde247a09c72.png)

(The panel on this machine is set to semi-transparent, and has a Chrome window behind it)

Is there any way to customize the icon? Will it use an icon from the theme, if there's an appropriate one available?

[2017-02-19 00:53] ebruck commented on #3
If you add an icon to some other theme then you'll want to run:  sudo gtk-update-icon-cache -f -t <theme-dir> so your desktop environment picks up your latest changes. You can see how I add them to hicolor, ubuntu-mono-dark & ubuntu-mono-light.  The icons Radiotray-NG uses are:

radiotray-ng-on
radiotray-ng-off
radiotray-ng-notification

[2017-02-19 04:07] khurshid-alam commented on #2
@ebruck

Thanks for quick fix.

Now that it got fixed will it be possible to have a PPA for easy installation and updates? If yes, then I can help you with that.

[2017-02-22 03:29] teslaji opened #4 "Bad Quailty Warning while installing on software center"
The installation of a package which violates the quality standards isn't allowed. This could cause serious problems on your computer. Please contact the person or organisation who provided this package file and include the details beneath.

[2017-02-22 04:03] ebruck commented on #4
*sigh* cmake is doing that...
On 16.10 version 3.5.2 seems to be doing a better job.

I fixed a similar issue for the Flatabulous packaging:
https://github.com/anmoljagetia/Flatabulous/blob/master/debian/CMakeLists.txt#L47

For now I would just install at the command line using dpkg and then "apt-get install -f" to install the dependencies.

[2017-02-22 16:46] igor2x opened #5 "When notifications turned off Radio can't be turned off"
I installed Radiotray-ng on Ubuntu 16.04 32-bit.

1. Close down Radiotray-ng.
2. Open ~/.config/radiotray-ng/radiotray-ng.json and change:
`   "notifications" : false,`
3. Start Radiotray-ng and click on icon and select "Turn on {radio station}".
4. Notifications are off which is great. But now lets disable the radio, click on icon and select "Turn off  {radio station}". Radio is turned off like f

[2017-02-23 02:19] ebruck commented on #5
Thanks for digging into this. It's a silly bug and I'll have a fix soon. I'm going to hold off releasing a new version until I fix #4.

[2017-02-23 03:30] #5 closed

[2017-02-24 02:57] #4 closed

[2017-02-26 13:33] CelsiusX opened #6 "Compilation problem on Archos"
Hi, I am in trouble with compiling latest version of radiotray-ng on Archos distro. Output with error is attached. Thanks for help.
[output.txt](https://github.com/ebruck/radiotray-ng/files/801994/output.txt)

[2017-02-26 17:18] ebruck commented on #6
It appears that gmock is not installed correctly. Did you follow my instructions or use the package that came with your distro? The recommended usage is to build and install googletest from source and not use what came with your distro.

[2017-02-26 21:03] CelsiusX commented on #6
[output_II.txt](https://github.com/ebruck/radiotray-ng/files/802283/output_II.txt)
I used the package from repository, so I uninstalled it, and compiled fresh googlemock to the system. Compilation was succesful, but when I try to run app, it crash with SIGBART signal.

[2017-02-26 21:37] ebruck commented on #6
Could you please post a stack trace?  I know it's not the same, but I just tried building and running on Ubuntu 17.04 and had no problems.

[2017-02-27 19:10] CelsiusX commented on #6
I am not sure, if this is what you ask me for. I ran the "strace -o strace.txt radiotray-ng " command and output is attached.
[strace.txt](https://github.com/ebruck/radiotray-ng/files/804748/strace.txt)

[2017-02-27 19:21] CelsiusX commented on #6
I found, that my config folder does not contain radiotray-ng.json file, what caused the crash. I created new one config and now it working well. Thank you for your time and support. Regards C.

[2017-02-27 19:22] #6 closed

[2017-02-28 02:06] ebruck commented on #6
That's odd as I create a default config if it's not there.

[2017-03-14 17:11] vtpoet opened #7 "Can't find gstreamer plugin..."
Hi, I'm a newcomer to github. Not sure if I'm doing things right but...

Thank you so much for reviving radiotray -- my fav internet radio app. Just wanted to forward an intermittent bug. Sometimes, after resuming from suspend,  rt-ng will complain that it can't stream a given station:  (gstreamer plugins are unavailable or not installed). The bug is exceedingly minor -- the workaround is to simpl

[2017-03-15 00:53] ebruck commented on #7
Were you playing a stream when your system went to sleep?
I've researched this a bit and it could be a gstreamer issue, which means there's not a lot I can do about it.

[2017-03-15 00:58] ebruck commented on #7
Another thing to try is install the "ugly" gstreamer package if you've not done so already. I'd be curious to see if that fixes things. This is a guess of course, but I'd be interested to see if it helps as I have never had this problem and I regularly suspend my laptop everyday without any problems.

[2017-03-16 21:55] vtpoet commented on #7
Sorry I didn't get back sooner. Have to carpenter for a living...

1.) I'm fairly certain I wasn't streaming when I suspended my system, but I'll pay more attention and also experiment with that --- see if it reproduces the bug.

2.) Just checked and the 'ugly' plugins were already installed.

[2017-03-21 14:29] vtpoet commented on #7
And there it is again. I know it wasn't playing when suspended.

Error: Your Gstreamer installation is missing a plugin.

Quit. Restarted. Works fine. It's such a minor bug that I'll leave it at that. Just out of curiosity, though, I'll restart RTNG in terminal and if something useful pops up I'll send it along.

[2017-03-21 15:30] ebruck commented on #7
Can you try enable debug logging? You'll find the logs in your ~/.config/radiotray-ng/logs

To enable:

1. exit radiotray-ng
2. edit ~/.config/radiotray-ng/radiotray-ng.json and add the following:

debug-logging" : true

Be careful with the commas before or after this entry. Parsing may fail otherwise.

[2017-03-28 03:13] ebruck commented on #7
I've been running radiotray-ng on three systems that I regularly "sleep" and I've never seen this issue.

[2017-03-28 03:13] #7 closed

[2017-04-04 15:43] rcspam opened #8 "Several improvement..."
Hi and very much thanks for this works...
1/ To have radiotray-ng behavior like original radiotray, is it possible to start playing with middle click?
2/ Volume increment with mouse wheel is too small, is possible to increase it, pehaps with a number in the config file.
3/ I can't set subgroup in bookmark.json, it's me or it's not coded?
Voila

Yet thanks.
Best regards

[2017-04-04 16:52] ebruck commented on #8
1. I'll look into it. Perhaps I'll add it to the next release. See branch v0.1.5 for other changes.
2. I can add that. I'l make it configurable like RadioTray.
3. This is by design. I originally implemented that for RadiotTray, but found it can lead to nasty cascading menus and a more complex bookmark editor.

[2017-04-05 02:22] ebruck commented on #8
a680452ac6c55c8e7fb259e75d8869c57bac65a6 adds volume step support.

[2017-04-05 08:02] rcspam commented on #8
Thanks....
1/.. It is very strange, especially since the wheel mouse signals are supported... :(

[2017-04-05 08:12] rcspam commented on #8
... 3/ It could be easier to adapt original python code to create your bookmark editor....
Yet thanks...

[2017-04-05 15:30] ebruck commented on #8
I chose JSON, because I dislike XML and the old bookmark format is flawed. It has issues with group/station names needing to be unique.

If you have a bookmark file that you want to use, then wait for the next release or pull down the v0.1.5 branch. There is a new rt2rtng script that converts old xml bookmarks.

[2017-04-05 21:20] rcspam commented on #8
Great news, i have create my own from old radiotray xml by hand, it a long work...
I have test it works well (subgroup to group are ok), it could be cool to coded subgroup, but it's your choice...
Big Thanks

[2017-04-06 06:21] #8 closed

[2017-04-07 09:06] baimafeima opened #9 "Current blockers to make radiotray-ng available in Solus"
I have suggested radiotray-ng to be included in the software repositories of Solus: https://dev.solus-project.com/T2649

Could you address the issues mentioned by the Solus devs in an upcoming version? Many thanks.

Josh Strobl from the Solus team wrote:

[2017-04-07 15:34] ebruck commented on #9
Thanks for the report!

Radiotray-NG does include all of the files it needs, but it seems on some systems a different exception is thrown when trying to load a config that isn't there. I've found the problem and will address it in the next release which I am planning on doing after Ubuntu 17.04 is released.

Here's a quick test if you want to see if radiotray-ng works for you:

diff --git a/src/ra

[2017-04-11 07:43] baimafeima commented on #9
Thanks for your quick response. Once your next release lands, I'll suggest radiotray-ng to be reevaluated on the Solus dev tracker.

[2017-04-11 07:48] baimafeima opened #10 "Distro-agnosticism"
The description of radiotray-ng here on GitHub says: "An Internet radio player for Ubuntu". Would you mind making it more distro-agnostic to allow for wider adoption? I believe this would also be in line with your goals of making it cross-platform?

[2017-04-11 22:07] ebruck commented on #9
More info: https://gcc.gnu.org/ml/gcc-help/2016-10/msg00100.html

[2017-04-12 02:25] ebruck commented on #10
In what way does it needs more work to be distro agnostic?  Packaging?

[2017-04-15 04:15] baimafeima commented on #10
Your current branding suggests that your main developing and testing base is Ubuntu. There is nothing wrong with that but it limits you mainly to an Ubuntu user base. While radiotray-ng _might_ work on other systems and desktop environments as well, many potential users from openSUSE, Fedora, and Solus probably don't have it on their radar.

[2017-04-15 16:04] ebruck commented on #10
Actually I've already changed that in my v0.1.5 branch.

[2017-04-15 16:06] ebruck commented on #10
I've updated the repo description.

[2017-04-22 22:35] #9 closed

[2017-04-22 22:36] #10 closed

[2017-05-09 14:14] baimafeima commented on #9
Just want to inform you that it is now included in the Solus repository: https://dev.solus-project.com/source/radiotray-ng/

[2017-05-09 17:14] baimafeima opened #11 "Unclear sleep timer functionality"
Under _Preferences_ there is an option to activate a _Sleep Timer_. It seems that it is not fully implemented yet. At least I couldn't get it to work.

[2017-05-10 03:55] ebruck commented on #11
Today you only have the option to enable/disable it from the menu.  To change the timer value (default is 30 min) then you must exit radiotray-ng and edit your configuration file. Have a look at the README.md file for that and other entries that are available.

[2017-05-10 10:47] brumle80 opened #12 "compile on rhel distros"
any chance you could add any pointers/fixes so this compiles on other distros than ubuntu?
struggling with make failing

I'm trying to get it to compile on Fedora 25

[2017-05-10 14:01] ebruck commented on #12
Actually that is my next target. I've got it compiling on Fedora 26, but the appindicator support isn't working quite right (crashes). It could be related to me not using the latest gtk3 appindicator library. I've ported my gui code to gtk3, but threading support has changed and some functions I've used are deprecated and no longer work.  I'm going to look at removing the threading since I really

[2017-05-10 15:17] ebruck commented on #12
I just tried it (v0.1.5) on Fedora 25 and could get it to work this time.

Perhaps it was Fedora 26 that was the problem. One thing that is not working for me is the appindicator extension. It's not showing the submenu items (works fine on Ubuntu GNOME 17.04). GNOME's built in support shows the menu and I could play fine after installing all the gstreamer libraries.

Here are the libraries I used:

[2017-05-10 16:39] baimafeima commented on #11
Thanks for clarifying this. It would be great to be able to edit the timer duration via a dedicated settings tab. I assume you probably have it on the roadmap.

[2017-05-11 02:06] ebruck commented on #12
Actually it is working fine. It appears that I hit some bug that prevents extension menus from expanding when displayed on a low resolution screen. The menu "just" fit on the screen before trying to open a group.

[2017-05-12 07:45] brumle80 commented on #12
thanks, will try again :)

[2017-05-12 08:24] brumle80 commented on #12
can confirm that it worked perfectly :)
I was missing one of the dependencies and had an error in the cmake command.
I am now running radiotray-ng without issue on Fedora 25, thanks for the help 👍

[2017-05-12 08:24] #12 closed

[2017-05-17 06:27] ebruck commented on #11
I'll add a dialog box similar to what the original RadioTray had.

[2017-05-19 03:40] #11 closed

[2017-06-09 23:23] diximinga opened #13 "Light Desktop Environment Tray Icons?"
Hi,

first of all: Thank you very much for your project

Is there or will there be a possibility to change Tray-Icons to a light color desktop environment in the config file?

I'm using Arch

[2017-06-10 14:50] ebruck commented on #13
You can change them by installing new versions under /usr/share/icons/<theme>/apps/....
Arch I believe it is using the "hicolor" versions.

The icon names are: radiotray-ng-notification, radiotray-ng-on & radiotray-ng-off

[2017-06-11 06:43] diximinga commented on #13
Yes:
/usr/share/icons/hicolor/256x256/apps/radiotray-ng-off.png
/usr/share/icons/hicolor/256x256/apps/radiotray-ng-on.png

I did it for "radiotray-ng-off.png" and changed white to black, and it works; but actually I don't like to change system files.

So, "make it configurable" is only a feature request, a "nice to have"

THX

[2017-06-13 20:38] ebruck commented on #13
You can place an icon theme in ~/.icons and modify it there.
https://developer.gnome.org/icon-theme-spec/

[2017-06-14 08:03] diximinga commented on #13
unfortunately local folder does not work, maybe because I use KDE and not Gnome

[2017-06-14 23:47] ebruck commented on #13
I'll see what I can do for the next release to make this configurable.

[2017-06-17 03:58] #13 closed

[2017-06-29 04:00] ebruck commented on #13
@diximinga v0.1.6 released with this new feature

[2017-07-09 17:13] Swipe650 opened #14 "dbus support"
Hi Ed,

I've just installed radiotray-ng and I'm very impressed, great job!

I have a number of bash and conky scripts I use with the old radiotray app and would like to rewrite them to work with radiotray-ng but they make prolific use of these two dbus commands to get the current station and song/artist:

[code]

I queried dbus while radiotray-ng was running and didn't see any output. Do you have

[2017-07-09 20:31] ebruck commented on #14
I was wondering when someone was going to ask for this. :-)
I'll have a look to see what's involved in supporting Radiotray's non-mpris dbus messaging interface.

[2017-07-14 06:19] ebruck commented on #14
@Swipe650 I finally have some dbus calls working. I'm thinking of exposing everything Radiotray-NG can return and do. Would the format of the data be useful in JSON?

Instead of a bunch of calls I'd like to expose one that returns an encoded message with:

title, artist, group, station, icon path, state, bitrate, codec & volume level

and actions to:

set station, next/prev station in group, dump

[2017-07-14 06:50] Swipe650 commented on #14
@ebruck Yes, JSON would be great. I can then use 'jq -r' to extract the bits I need.

[2017-07-14 07:01] Swipe650 opened #15 "Volume bugs in Plasma 5.10 (Arch)"
I've found a couple of minor volume bugs in Plasma 5.10 (Arch Linux) using the radiotray-ng-0.1.6-2 package from the AUR.

This has been confirmed on two separate machines.

1. Scrolling the middle click mouse wheel above the radiotray-ng tray icon doesn't change the volume

2. When a stream is started it doesn't match the volume level set in the config file. Two examples for demonstration purpose

[2017-07-14 07:23] ebruck commented on #15
1. That appears to be a limitation of the appindicator support in Plasma. Please file a bug upstream.

2. Changing the volume outside of Radiotray-NG is not really supported. Your best bet is to wait for the dbus work or use the media key mapping to assign volume up/down (see readme).
I'm using a script to mimic media keys I don't have to adjust the volume with my Microsoft 4000 keyboard's extra b

[2017-07-15 04:57] ebruck commented on #14
Sample output:

[code]

[2017-07-15 08:32] Swipe650 commented on #14
Excellent.  Using [jq](https://stedolan.github.io/jq/) I should now be able to extract the required bits from the json formatted output. For example to get the artist:

qdbus com.github.radiotray_ng /com/github/radiotray_ng com.github.radiotray_ng.get_player_state| jq -r '.artist'

[2017-07-15 10:02] Swipe650 commented on #15
I now have a workaround for this. I tend to always have the radiotray volume set at 70% and use the keyboard volume keys to control the master volume rather than the application's input sink. So if I set 'volume-level' to 34 in the config file, this results in the sink input showing as 70%.

After some playing around I now understand what is going on here. It appears that
`pactl set-sink-input-vol

[2017-07-15 15:59] Swipe650 commented on #14
It does appear that the artist field is not getting populated though and instead being included in the title field:

[code]

[2017-07-15 18:19] ebruck commented on #14
There is no artist info in the stream. I attempt to find it by looking for the first "dash".
Not sure what happened there, but putting that string into a test does extract the artist.
Do you have:
 "split-title" : true
in your ~/.config/radiotray-ng/radiotray-ng.json?

[2017-07-15 18:31] Swipe650 commented on #14
It was set to false. Fixed now

[2017-07-15 18:36] #15 closed

[2017-07-17 18:36] realcnbs opened #16 "Failed to download playlist"
Cannot play anything including built in playlist.
logs:
[code]

[code]

[2017-07-17 19:35] ebruck commented on #16
I am getting an occasional 404 from that stream, but otherwise it plays fine with 0.1.6.
What version are you using?

[2017-07-17 20:01] ebruck commented on #16
I did find a bug in the on/off menu text state, which will be fixed in 0.1.7.

[2017-07-17 20:06] ebruck commented on #16
Can you please look further back in your log? I suspect there is an installation issue with gstreamer. The only way that assertion would fire is if gstreamer could not be loaded.

Please also provide other info such as distro etc.

[2017-07-17 20:21] realcnbs commented on #16
Oh, sorry i missed the most important info - distro is arch, and version is 0.1.6
It might be a problem if the distro package might be missing some deps, i'll try to find it out.

[2017-07-17 20:25] realcnbs commented on #16
Full log:
[code]

[2017-07-18 18:25] realcnbs commented on #16
Maybe this line give some hint? It looks to me like http client failed to to be created?
`[2017-07-17 23:23:34.197720] [0x00007fbd64fa8700] [error] (player.cpp:382) - could not create souphttpsrc element`

[2017-07-18 19:26] ebruck commented on #16
I believe that's the plugin gstreamer uses for accessing streams. I  access it to replace the user-agent value.  You could remove that block of code and see if you are able to play.

It does seem like a plugin is missing. Are all of the good/bad/ugly gstreamer plugins installed?

[2017-07-18 19:59] realcnbs commented on #16
Well, yes, I installed all of them, and now it works.

[2017-07-18 19:59] #16 closed

[2017-07-20 21:51] Swipe650 commented on #14
Hi Ed.

I have an additional dbus request if possible...

In the old Radiotray app you could launch a station included your bookmarks via script/terminal  with the following command:

`qdbus net.sourceforge.radiotray /net/sourceforge/radiotray playRadio 'StationName'`

This was useful for toggling stations while a commercial break was playing. Would it also be possible to incorporate the 'playRadi

[2017-07-20 22:14] ebruck commented on #14
It's already there.

[code]
Pass the "group" "station name" on the command line.

[2017-07-27 10:29] TomaszGasior opened #17 "GTK3 instead GTK2?"
I thank you for your simple app. It is incomplete, but very useful even in current state.

Why did you use GTK2 instead GTK3? GTK2 is deprecated and outdated. It is possible to add compile option to use GTK3?

Also, please do not use stock menu item such as "About", "Preferences", "Close". Stock is deprecated. Instead, create this menu items manually.

[2017-07-27 10:43] TomaszGasior opened #18 "--resume option."
Original radiotray application has "resume" option. When user start radiotray with "--resume" as first argument, app automatically starts last played radiostation.

Please, reimplement this feature.

[2017-07-27 11:05] TomaszGasior opened #19 "Separators in bookmarks."
Please, add ability to place separator between bookmarks items.

[2017-07-27 15:28] ebruck commented on #17
I've already converted Radiotray-NG to gtk3. It's in my v0.1.7-dev branch along with a few other missing features.

[2017-07-27 15:28] #17 closed

[2017-07-27 15:29] ebruck commented on #18
Actually I plan to do this next.

[2017-07-27 15:30] #14 closed

[2017-07-27 15:44] ebruck commented on #19
I've resisted doing this, because under Gnome desktop (which I use) menus are rather large and it seems to have problems rendering if it won't fit on the screen. In fact I've added an option to the config that turns off the separators I do use. I realize that some users may not be running Gnome and won't suffer from this issue.

[2017-07-27 17:03] TomaszGasior commented on #17
Sorry for my mistake. ;)

[2017-07-27 17:07] TomaszGasior commented on #19
I mean about separator as menu element. User could add separator in the same way as radiostation — as group element; by editing bookmarks.json file or, in the future, by GUI.

To be honest, this feature is not important. I wrote this issue because original RT had this feature.

[2017-07-27 17:12] ebruck commented on #19
I was the one who put it in the original Radiotray. :-)

[2017-07-28 00:59] ebruck commented on #19
I don't plan to add this.

[2017-07-28 00:59] #19 closed

[2017-07-28 02:36] #18 closed

[2017-07-28 02:40] ebruck commented on #18
I'm going with --play to match the dbus command.

[2017-09-03 18:18] TomaszGasior opened #20 "Wrong separators in menu"
You are using wrong separators in tray menu. Instead of GtkMenuItem with empty label you should use GtkSeparatorMenuItem. See screenshots below. (nm-applet context menu on second screenshot).

![screenshot1](https://user-images.githubusercontent.com/1395027/30005537-05c717e4-90e5-11e7-9b60-7ea90b218fed.png)
![screenshot2](https://user-images.githubusercontent.com/1395027/30005538-05cd620c-90e5-11e

[2017-09-03 19:24] TomaszGasior opened #21 "--help option"
Please add "--help" option to command line. It would be nice if it could contain information about application and about "--play" option.

[2017-09-03 19:33] ebruck commented on #20
I'll have a look, but I'm using the C API. There is a config option to turn off separators if you want.

[2017-09-03 19:33] ebruck commented on #21
I'll add that next release.

[2017-09-03 19:43] ebruck commented on #20
I just tried gtk_separator_menu_item_new(), but I get the same result as before. What app are you comparing Radiotray-NG to in your screenshot?

[2017-09-03 19:55] ebruck commented on #20
Perhaps it's theme related? Can you build and run my v0.1.8-dev branch?

[2017-09-03 22:16] atommixz opened #22 "reverse menu on bottom panels"
I have usability issue, cause my tray is at the bottom. It must be reversed on bottom panels. U can just create option in preference.

[2017-09-03 22:20] atommixz opened #23 "restore the state"
It should restore the state "Turn on / Turn off" after restart

[2017-09-03 22:37] atommixz opened #24 "reconnect"
I have connection issue or problem on radio problem. It should try reconnect if state 'Turn on' but radio exit.

[2017-09-03 22:48] atommixz opened #25 "mouse clicks"
left click on ico should on/off radio, right click - popup menu

[2017-09-03 22:52] ebruck commented on #25
I'm sorry appindicators don't work that way.

[2017-09-03 23:00] ebruck commented on #24
This is by design. If the the stream stops or can't connect it's up to you to select another station or try again.

[2017-09-03 23:00] #24 closed

[2017-09-03 23:22] ebruck commented on #22
Something like this?

![reversed_menu1](https://user-images.githubusercontent.com/1168556/30007460-05fada32-90c4-11e7-8ec4-2d410ca6e4aa.png)

[2017-09-03 23:27] #20 closed

[2017-09-04 00:03] atommixz commented on #22
yes

[2017-09-04 08:02] TomaszGasior commented on #20
— Problem is not related to theme. Adwaita theme is affected also.
— I didn't test v0.1.8-dev but I changed `gtk_menu_item_new()` to `gtk_separator_menu_item_new()` in `appindicator_gui.cpp`. It works, see screenshot. I see that you did the same in v0.1.8-dev. So problem is solved.
https://i.imgur.com/EruNSvf.png

[2017-09-04 15:28] ebruck commented on #20
@TomaszGasior Thanks for testing it!

[2017-09-04 15:42] ebruck commented on #23
If you like for Radiotray-NG to start playing on startup there is a new --play command line argument.

[2017-09-07 03:30] monochromec opened #26 "Radio tray icon not showing up in GS"
Great to have a fork of the apparently dead RT project which is under active development - much appreciated!

Unfortunately, the app icon is not showing in the application / systray area in gnome shell (although
topicons is installed as an extension). GS version is 3.24.2-0ubuntu0.1; let me know if you need more details.

[2017-09-07 04:35] ebruck commented on #26
It works fine using the appindicator extension.

[2017-09-07 16:41] monochromec commented on #26
Thanks for the hint - works like a charm

[2017-09-07 17:31] #26 closed

[2017-09-09 18:48] ebruck commented on #23
I don't think this is something that is needed. Radiotray-NG already saves the last station and group information. If someone wants to have it play automatically on startup then they can add the new --play command line option to the desktop file: /etc/xdg/autostart/radiotray-ng.desktop #

[2017-09-09 18:48] #23 closed

[2017-09-12 08:26] guzzard commented on #25
Hi @ebruck,

I would also like a behavior to use only one mouse click (left, or middle as original radiotray) to turn on/off playback. 50% the work compared to now with two mouse clicks.

I searched but I cannot find the design guidelines for appindicators stating that this behavior is not OK. Where can I find the design guidelines? Checked the Gnome website, Ubuntu website, and searched Google..

[2017-09-12 08:56] guzzard opened #27 "Sound output strange behavior"
Hi @ebruck,

Sometimes the sound from radiotray-ng comes out of the wrong sound output. I have two sound cards which I switch between, one goes to speakers, the other goes to headphones.

If I switch sound output while radiotray-ng is playing something the output is changed correctly, however if I change the sound output while radiotray-ng is off it is not updated correctly, and radiotray-ng still

[2017-09-13 03:27] ebruck commented on #25
It is my understanding that the appindicator library does not emit any of the click events. I've certainly never seen it in all the years I've been fiddling with appindcators. I just tried to register a handler for button-press-event (using appindcator extension), but it does not succeed. I'd welcome a patch if someone can make work. The alternative is to use a hotkey and the new dbus interface or

[2017-09-13 05:50] ebruck commented on #27
@guzzard I am able to repro this. I'm by no means a gstreamer expert so it will take me some time to research this one.

[2017-09-13 09:36] guzzard commented on #27
Hi @ebruck,

I'm sure there is a proper way to do this, but as a quick fix it looks like it would work to reinit (stop and start the gstreamer link) on play_next() to get it working.

I did a quick dirty test:
[code]

This worked and correct sound output is always used when starting playback.

[2017-09-13 10:00] guzzard commented on #25
Hi @ebruck,

Looks like at least middle mouse button click should be possible.

From [askubuntu](https://askubuntu.com/questions/224709/how-to-run-an-action-when-clicking-on-an-appindicator):
![screenshot-area-2017-09-13-115755](https://user-images.githubusercontent.com/9007314/30371439-da4a021e-987a-11e7-95ab-6706035eafe2.png)

Link to [API ref](https://developer.ubuntu.com/api/devel/ubuntu-13.10

[2017-09-13 15:19] ebruck commented on #27
@guzzard thanks for looking into it.

I believe I should be using:

https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good/html/gst-plugins-good-plugins-autoaudiosink.html

[2017-09-13 15:22] ebruck commented on #25
Did this work using the gnome appindicator extension?

[2017-09-13 22:27] guzzard commented on #25
Hi @ebruck,

Did some investigating on this..

In GNOME Shell with the [appindicator extension](https://github.com/ubuntu/gnome-shell-extension-appindicator) installed:
- single click (left/middle/right): brings up the appindicator menu
- double click (left/middle/right): executes the "secondary_activate_target" if enabled in the application

In Cinnamon with appindicator support enabled:
- left s

[2017-09-13 22:50] ebruck commented on #25
Thanks for digging into these issues. I'll add this to my latest dev branch.

[2017-09-14 01:10] ebruck commented on #25
Strange... doesn't work for me. The menu appears and disappears. What version of gnome and the appindicator extension are you using?

[2017-09-14 02:30] ebruck commented on #27
It does work on Unity... no surprise there. :(

[2017-09-14 02:39] ebruck commented on #27
@guzzard  seems to work now. Please give it a try.

[2017-09-14 02:44] ebruck commented on #25
Works on Unity.

[2017-09-14 09:15] guzzard commented on #25
Hi @ebruck,

Works great for me.

![output2](https://user-images.githubusercontent.com/9007314/30421716-e7e25606-993d-11e7-9d49-92e8d7af4631.gif)

GNOME Shell 3.24.3
gnome-shell-extension-appindicator v20 (metadata.json says version 21 when installed from extensions.gnome.org, but it is v20.. I confirmed with Meld)

[2017-09-14 09:35] guzzard commented on #27
Hi @ebruck,

Yes, works great now! :+1:  :+1:

[2017-09-14 19:23] #27 closed

[2017-09-14 19:28] ebruck commented on #25
What distro are you using?  I'm using 17.04, but am still on gnome shell 3.24.2.

[2017-09-14 19:30] guzzard commented on #25
Arch Linux, fully updated

[2017-09-14 20:18] #25 closed

[2017-09-14 20:32] guzzard commented on #25
@ebruck did a quick test on Ubuntu GNOME with GNOME Shell 3.24.0. Double clicking did not work for me either.

When double clicking these error messages could be seen in the journal:
[code]

So I think that it must be an issue that was fixed recently since it's working fine for me?

[2017-09-14 21:18] ebruck commented on #25
Here's what went into 3.24.3:

ecea0218f (tag: 3.24.3) Bump version to 3.24.3
3478715e6 padOsd: Disallow help/switch monitor actions on rings/strips
cb6d9c927 padOsd: Implement edition of actions for rings/strips
7f693ed2c padOsd: strengthen ring/strip label creation
44908cf47 padOsd: Refactor function setting label after edition into separate function
7db7b7dcb shellDBus: Avoid access to undefine

[2017-09-14 21:32] guzzard commented on #25
@ebruck downgraded my gnome-shell package to 3.24.2 and tested and it works for me in that version as well, so I have no idea what's going on.. perhaps the issue is caused by something in another gnome-* package which I did not downgrade etc.. or perhaps DBus related? No idea.. but it works perfectly fine for me at least :smile:

[2017-09-15 01:43] ebruck commented on #25
running dbus-monitor:

method call time=1505439707.523144 sender=:1.530 -> destination=:1.202 serial=1171 path=/org/ayatana/NotificationItem/radiotray_ng; interface=org.kde.StatusNotifierItem; member=Activate
   int32 0
   int32 0
error time=1505439707.523360 sender=:1.202 -> destination=:1.530 error_name=org.freedesktop.DBus.Error.UnknownMethod reply_serial=1171
   string "No such method 'Activat

[2017-09-15 02:51] atommixz commented on #25
I need install 32 pks for gnome-shell-extension-appindicator.
I have installed libappindicator-gtk3 but behavior absolutely the same as before.
Version from v0.1.8-dev - v0.1.7-3-g7531eeb

[2017-09-15 03:32] atommixz commented on #25
the best way would be to use Qt or Gtk tray optional

[2017-09-15 08:15] guzzard commented on #25
Hi @ebruck,

**Activate method is visible when checking in d-feet:**
![d-feet](https://user-images.githubusercontent.com/9007314/30472905-9acfdb4c-99fe-11e7-88ed-2cb49beaf4e9.png)

**dbus-monitor when i double click to start radio:**
[code]

**when i double click to stop radio:**
[code]

[2017-09-15 09:22] guzzard commented on #25
@ebruck did a test now with a [Manjaro live cd/iso](https://downloads.sourceforge.net/manjarolinux/manjaro-gnome-17.0.4-stable-x86_64.iso) in Virtual Box. Double clicking works fine there as well (comes with GNOME Shell 3.24.3). So if you want to investigate further you can use Manjaro to quickly get an environment where it works.

1. Boot up Manjaro in Virtual Box
2. Install packages needed to bu

[2017-09-15 16:47] ebruck commented on #25
I installed the latest daily for 17.10 (gnome 3.26.0) in vbox and it did not work. Same missing "Activate" errors as before.

[2017-09-15 18:37] guzzard commented on #25
@ebruck no idea what's going on with the Ubuntu based distros.. as I wrote before it didn't work in Ubuntu GNOME either.

Anyway, it ***does*** work in Arch and in Manjaro (which is based on Arch). Give the Manjaro live cd/iso a try. No installation to hard drive necessary.

[2017-09-15 19:01] guzzard commented on #25
@ebruck did some more digging.. with the gnome-shell-extension-appindicator installed double clicking the appindicator icon triggers DBus to call the method "Activate", this works in Arch based distros, but not Ubuntu based distros.

I think [this patch](https://git.archlinux.org/svntogit/community.git/tree/trunk/improved-plasma.patch?h=packages/libappindicator) is the reason it works in Arch. The

[2017-09-15 20:30] ebruck commented on #25
That's awesome! Thanks again for digging into this issue.

[2017-09-15 20:55] ebruck commented on #25
I've been able to make it work by doing:

diff --git a/appIndicator.js b/appIndicator.js
index ea78f38..a8b27fb 100644
--- a/appIndicator.js
+++ b/appIndicator.js
@@ -199,7 +199,7 @@ const AppIndicator = new Lang.Class({
         // nor can we call any X11 functions. Luckily, the Activate method usually works fine.
         // parameters are "an hint to the item where to show eventual windows" [si

[2017-09-15 20:58] guzzard commented on #25
@ebruck :+1: got that working here as well.. currently trying to implement a single middle mouse button click instead to activate the secondary action.. to not break the current behavior.. trying to find a way to trigger a close of the appindicator menu after a single middle mouse click.. right now the secondary action is triggered, but the menu remain open.

[2017-09-15 21:08] ebruck commented on #25
That would be great. On Unity the middle click activates and does not show the menu.

[2017-09-16 18:48] #22 closed

[2017-09-16 18:51] ebruck commented on #21
Do you normally launch Radiotray-NG from the command line?

[2017-09-16 20:43] #21 closed

[2017-09-16 21:25] ebruck commented on #22
@atommixz if possible please test my v0.1.8-dev branch.

[2017-09-22 12:31] guzzard commented on #25
@ebruck [this pull req](https://github.com/ubuntu/gnome-shell-extension-appindicator/pull/90)  adds the functionality to single middle mouse click the appindicator without opening the menu. Hopefully it's merged soon.

[2017-09-22 17:15] ebruck commented on #25
@guzzard Just tried it out. Great work!

[2017-09-23 20:31] baimafeima opened #28 "Popups do not disappear"
![radio](https://user-images.githubusercontent.com/23112309/30776886-ef3e51b6-a0ae-11e7-8ea9-1e7c4a241ee0.png)
radiotray-ng 0.1.6
The popup (see screenshot) indicating channel, artist and song always reappear after clicking them away. Is there any option to disable them in the settings? Is this already fixed in 0.1.7?

[2017-09-23 21:17] ebruck commented on #28
Yes you can, but your particular issue is addressed in the next release. It's briefly buffering and the popup keeps showing up. I too have been hit with that one. ;-)

To turn off notification add the following option to your config file, but only after exiting.

"notifications" : false,

[2017-09-23 21:24] ebruck commented on #28
Are you test the v0.1.8 branch?

[2017-09-24 08:10] Swipe650 opened #29 "Error building dev-0.1.8"
Hi,

Just tried building dev-0.1.8 using my Arch Linux PKGBUILD and get the following error. I did this the exactly same way I used to build dev-017 and 0.1.6 which always built successfully. Any ideas. Some reference to _error adding symbols: DSO missing from command line_

[code]
This is my PKGBUILD I'm using:

[code]

[2017-09-24 16:10] ebruck commented on #29
I believe it's the addition of libboost-program-options that is giving you problems.
Have a look at this line for the latest changes:

https://github.com/ebruck/radiotray-ng/blob/08e56c7e1fe8d58f77db6528361e128b2695e896/debian/CMakeLists.txt#L25

[2017-09-24 17:14] Swipe650 commented on #29
That's strange as libboost-program-options.so is included in the Arch Linux [ boost-libs 1.65.1-1](https://www.archlinux.org/packages/extra/x86_64/boost-libs/files/) package which is set a dependency for radiotray-ng in my PKGBUILD file

[2017-09-24 17:46] ebruck commented on #29
That's not enough to get it to link against it.

[2017-09-24 17:48] ebruck commented on #29
It may be something else then.

[2017-09-24 17:58] ebruck commented on #29
Can you try this change?

[code]

[2017-09-24 18:52] Swipe650 commented on #29
That change allowed me to compile without any errors and successfully generated a deb. Please could you commit that change so I can use my PKGBUILD to build an arch package?

[2017-09-24 19:30] Swipe650 commented on #29
Thanks. I was now able to successfully build an Arch package. BTW you need to update the version number to 0.1.8 in 'About'

[2017-09-24 19:49] ebruck commented on #29
I only do that when there's an official release. During dev you see the last version plus how many commits ahead it is along with the git hash used to create the binary.

[2017-09-24 20:51] #29 closed

[2017-09-25 07:30] l2isbad opened #30 "error while loading shared libraries: libboost_filesystem.so.1.64.0"
[code]

[2017-09-26 04:33] ebruck commented on #30
What problems are you having?

[2017-09-26 04:59] l2isbad commented on #30
Oh, i had to rebuild it. Now it works. Sorry for bothering 😢

[2017-09-26 04:59] #30 closed

[2017-09-29 09:50] Wasnix opened #31 "rt2rtng does't convert correcty nested bookmarks"
rt2rtng does't convert nested bookmarks from old radiotray. The nesting structure disappers. All radio stations are on root level.

I've thousands of radio stations arranged by country, state, city,...etc. rt2rtng puts all radio stations on top of the converted list, only keeping streams of same stations in single groups.

[2017-09-29 10:38] Wasnix opened #32 "[Debian: Xfce4-Desktop] Volume settings are lost when turning off station"
radiotray-ng lost the volume settings when turning off radio station or quit program. On my desktop the volume is much to high, so I decreased volume. But when turning off and on a station the volume is again much to high.

I edited config file and changed volume level to "10". The new level is displayed as "Volume: 10%" in popup menu. But the displayed level seems to have no effect on volume of p

[2017-09-29 15:38] ebruck commented on #31
The README.md mentions this:

This is by design. I chose not to support sub menus. It makes it harder to write a proper visual editor (which is nearly done) and I felt for myself at least that it was not really how radiotray-ng should be used. That amount of bookmarks is more than a simple tray app. should manage/display. Now having said that I may revisit this in the future, but I'm seeing system

[2017-09-29 15:40] ebruck commented on #32
There is only one way to change the volume levels so I'm at a lose as to what this could be. There however is a change coming that uses the proper output audio sink. Perhaps you can test my v0.1.8-dev branch?

[2017-09-30 18:15] #28 closed

[2017-09-30 18:15] #31 closed

[2017-10-07 19:42] ebruck commented on #32
@Wasnix please test the latest release.

[2017-10-10 22:45] baimafeima opened #33 "Add an appdata file"
For reference: https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html#sect-Quickstart-DesktopApps

[2017-10-10 22:51] baimafeima opened #34 "Joint efforts?"
It seems that there are two applications with a very similar feature set. Not sure what you guys think but why not join efforts and create the very best radiotray application out there?
https://github.com/thekvs/radiotray-lite
See: https://github.com/thekvs/radiotray-lite/issues/14

[2017-10-12 22:05] ljoli opened #35 "[Archlinux] libboost - 1.64.0 not found"
Hello,

I use radiotray-ng for listen some web radio.
But when i update my distribution, I have an error :

radiotray-ng: error while loading shared libraries: libboost_filesystem.so.1.64.0: cannot open shared object file: No such file or directory

How can I fixe it ?

[2017-10-12 22:27] ebruck commented on #35
Where did you get the binary and what distro are you using?

[2017-10-12 22:39] ljoli commented on #35
Hi ,
@ebruck : I use Archlinux :

Linux ljj-pc 4.13.5-1-ARCH #1 SMP PREEMPT Fri Oct 6 09:58:47 CEST 2017 x86_64 GNU/Linux

So, i use the following version :
https://aur.archlinux.org/packages/radiotray-ng
radiotray-ng   0.1.8-1

[2017-10-12 22:45] ljoli commented on #35
I notice on my system :

-rw-r--r-- 1 root root 265K Sep 24 21:32 libboost_filesystem.a
lrwxrwxrwx 1 root root   29 Sep 24 21:32 libboost_filesystem.so -> libboost_filesystem.so.1.65.1
-rwxr-xr-x 1 root root 106K Sep 24 21:32 libboost_filesystem.so.1.65.1

[2017-10-12 22:56] ebruck commented on #35
Looks like the dependency isn't set correctly.
I believe this is it:  https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=radiotray-ng

It just lists "boost-libs":

depends=('boost-libs' 'curl' 'gstreamer' 'jsoncpp' 'libappindicator-gtk3'
         'libbsd' 'libnotify' 'libxdg-basedir' 'glibmm')

For Ubuntu my packaging specifies the version that it was compiled with. Perhaps that is the problem

[2017-10-13 02:25] #35 closed

[2017-10-13 12:51] ljoli commented on #35
Yes, you are right. It is necessary to say the boost-libs version.

Thanks

[2017-10-16 22:32] radomir-lilic opened #36 "Icon invisible since last gnome update"
Hello there,
I have the following issue: when I start radiotray usually it opens in Top Bar (Solus Gnome) from where I can go and select the radio stations but since last update the Top Bar is transparent and the icon is invisible. At the beginning I thought that it won't open and tried multiple times and then when I opened browser to search for solution and Top Bar became solid I realize that it

[2017-10-16 22:55] ebruck commented on #36
Can you take a screen capture? I'm guessing the icon is now too light for new transparent bar.
There are config options to change the icons if you need to.

[2017-10-16 23:03] radomir-lilic commented on #36
here you go...
First screenshot - Radiotray app is open but currently stopped.
Second screenshot - it runs and plays.

BTW - I suspected something and I changed my background to darker color and
it is visible (usual faded grey look).

I like the very neutral greyish look of the desktops and it look like that
it will not work with those settings...

Thanks for fast reply.

On 16 October 2017 at 18:

[2017-10-16 23:36] ebruck commented on #36
I don't see any screen shots.

[2017-10-16 23:53] radomir-lilic commented on #36
Sorry, I attached those to email I replied with but I guess they do not get
posted. I edited previous post and attached them.

Thanks.

On Oct 16, 2017 19:36, "Ed Bruck" <notifications@github.com> wrote:

[2017-10-17 00:05] ebruck commented on #36
It looks like I'll have to tweak the colours a bit. What's included today I created for Unity's Ambiance theme.

[2017-10-17 02:46] ebruck commented on #36
They should now match other gnome-shell icons. You can manually download them and replace the ones in /usr/share/icons/hicolor/256x256/apps and /usr/share/icons/hicolor/24x24/apps or wait for the next release. That may be a while as I'm bringing in a bookmark editor which still needs some work.

[2017-10-17 02:50] #36 closed

[2017-10-17 03:53] radomir-lilic commented on #36
Thank you!

On 16 October 2017 at 22:50, Ed Bruck <notifications@github.com> wrote:

--
Radomir Lilic
202 - 212 Kerr Street
Oakville, Ontario
L6K 3B1
Canada

Contact: +1 647 298 3125

The information in this email and in any attachments is confidential and
intended solely for the attention and use of the named addressee(s). Any
review or distribution by anyone other than the person for whom it was

[2017-10-18 13:34] radomir-lilic commented on #36
I made my own icons (one regular and one outlined) as I wanted to customize my desktop. I wouldn't be able to do it without your help and pointing me to right direction where to find them.

Thank you again!

Radiotray-ng rocks!

Here are screenshots from the current ones I am using, if interested.
![screenshot from 2017-10-18 09-29-57](https://user-images.githubusercontent.com/31983461/31721460-76

[2017-10-18 19:58] ebruck commented on #36
Your welcome.

[2017-10-21 23:17] ebruck commented on #32
@Wasnix any improvement?

[2017-10-24 18:51] #32 closed

[2017-10-31 05:52] johnraff commented on #32
I can confirm this issue with 0.1.8 built today on Debian Stretch.

On first run, when a station is selected the volume is at max. If I turn it down to my preferred 60%, after changing the station, or temporarily stopping the current station, it reverts to 100%.

I also noticed that ~/.config/radiotray-ng/radiotray-ng.json is much simpler than the example on this site https://github.com/ebruck/rad

[2017-10-31 06:38] ebruck commented on #32
Can you try enabling debug logging and post what is being written when the volume is adjusted?

Set:
debug-logging: true

The logs are in your ~/.config/radiotray-ng directory.

[2017-10-31 14:59] ebruck commented on #32
@johnraff Did you build radiotray-ng from source?

[2017-10-31 20:39] ebruck commented on #32
I've not been able to reproduce this.  I installed Debian Stretch in a VM and built radiotray-ng.
I had no problems adjusting volume levels and restoring them even after restarting radiotray-ng. The only oddity I found is that the volume level doesn't change if the menu is being displayed, but that's more of how well appindicator support is in xfce.

[2017-11-01 08:30] johnraff commented on #32
OK short answers first.
I built radiotray-ng from source, on Debian Stretch in a VirtualBox VM.

Initial run: behaviour as reported by Wasnix, volume reverting to 100% after every new station or start/stop. I found the app had created a default radiotray-ng.json:
[code]
After pasting in the suggested config file, and adjusting volume-level to 60, the behaviour is now:
- App is off, check config fi

[2017-11-01 13:44] bonelifer opened #37 "Better Interpret iHeartRadio tags"
![iheartradio](https://user-images.githubusercontent.com/121736/32277486-9ad14566-bee0-11e7-833e-a1ac03d13fb1.png)

KSSN 96: http://c4icyelb.prod.playlists.ihrhls.com/105_icy

[2017-11-01 15:14] ebruck commented on #32
There is nothing I can do. Found this old ticket that goes into a lot of details:

https://bugzilla.redhat.com/show_bug.cgi?id=1265267

[2017-11-01 17:25] ebruck commented on #37
I have a simple parser to pull out text=".."  after splitting the tag into title and artist. I will probably turn this feature off by default using config option:  iheartradio-tag-parsing

Do you have any other stations I can test with?

[2017-11-01 18:58] bonelifer commented on #37
24/7 Comedy Live: http://c3icyelb.prod.playlists.ihrhls.com/4902_icy

Big 94.9: http://c10icyelb.prod.playlists.ihrhls.com/101_icy

If you need anymore, just go to iheart.com, go to a channel, then search the source for:
"shoutcast_stream": or _icy portion that seems to be in all the shoutcast stream urls. The majority of channels or at least most should have a shoutcast stream.

[2017-11-02 04:33] #37 closed

[2017-11-02 14:57] ebruck commented on #37
**ihr-title** config setting will control this. **split-title** must be enabled for it to work.

[2017-11-04 07:44] Pitel opened #38 "No obvious way how to stop starting after login"
Ubuntu 17.10, radiotray-ng starts every time I log in.

I can't find anything in settings, it's not in `$HOME/.config/autostart/` and I don't know where else to look.

[2017-11-04 14:54] ebruck commented on #38
Check: /etc/xdg/autostart/

[2017-11-05 01:41] #38 closed

[2017-11-08 22:28] bonelifer commented on #37
Just downloaded and compiled the v0.2.0-dev branch. The deb file installed without problem. Works great.   Thanks.

[2017-11-10 03:00] ebruck commented on #37
I'm going to make this on by default.

[2017-11-12 20:07] ebruck commented on #28
Commit 724b07f043259eaf0c23e0d60aa377d830217617  removed the final notification that we are playing, but the real problem is that buffer-size was set incorrectly. Fixed by this commit: 8f259a772e4a43bef36cb9ea3833b13a676e970c

I will revert the change I made in the next release.

[2017-11-16 07:45] johnraff commented on #32
Yes, it seems to be basically a PulseAudio issue. However, some comments in this [Debian bug report](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=837637) suggest that apps can alleviate the problem at their end too.

[2017-11-17 00:01] milkmiruku opened #39 "[Feature request] show stream information when mouse hovers over icon"
IIRC the original RadioTray did that.

[2017-11-17 02:02] ebruck commented on #39
Sorry that's not possible with appindicators/gnome.

[2017-11-17 21:13] #39 closed

[2017-11-17 22:03] ebruck commented on #32
I suppose, but that would mean an option to disable volume control?

[2017-11-18 01:13] johnraff commented on #32
I'm not an authority on audio, but don't some apps change their local volume without resetting PA's master volume?

(Anyway, I prefer flat-volumes off, so the issue is gone for me.)

[2017-11-18 12:11] milkmiruku commented on #39
Aww, boo Gnome :/

[2017-11-18 14:27] milkmiruku opened #40 "[feature request] Maximum volume limit"
To stop volume going over, say, 100%.

[2017-11-18 16:28] ebruck commented on #40
That's already possible by adding this setting to your config:

"volume-max-level", 100

I'll have to update the readme next release.

[2017-11-18 16:51] #40 closed

[2017-11-20 04:41] ebruck commented on #34
The projects seem to have different goals.
I am open to any and all pull requests.

[2017-11-20 04:41] #34 closed

[2017-11-28 07:58] Docdez opened #42 "Volume increase with play on."
Hello!

The app settings is default. Everytime with play it the general volume level is increased to maximum (it was painful) and volume level for other apps are not changed.

OS was upgraded one week ago, before it. I not modified the app (update).
I got this trouble after the Viber messenger installation (it removed already).

- Work with the "volume-level" parameter not helped.
- Work with the

[2017-11-28 15:38] ebruck commented on #42
This may be related to how pulse audio is configured.
Have a look at issue #32.

[2017-11-29 05:07] Docdez commented on #42
Yes, it issue is similar to my. I will try to use it consideration. I am sorry for the duplicate.

[2017-11-29 05:07] #42 closed

[2017-11-30 05:56] Docdez commented on #32
Well, I am from the #42 issue (I closed it).
Problem and the app version are similar. But setting the "flat-volumes" to off mode not helped.

[2017-11-30 12:02] Docdez commented on #32
I think that the "volume-level" is good feature.
But why doesn't it work correctly?

[2017-11-30 17:10] ebruck commented on #32
It works fine for me on Ubuntu 16.04, 16.10, 17.04 & 17.10 and it appears as well for others using Arch and Solus. I don't know why Debian would have an issue. My guess right now is that it may be how pulseaudio is configured or the version being used. I have only one API to modify the stream playing audio level and that's it.

[2017-12-01 07:43] Docdez commented on #32
I had some stupidity, I needed uncomment the "flat-volumes = no".
It works fine now)

[2017-12-03 10:04] guzzard opened #43 "Build fails with jsoncpp 1.8.3"
Some functions have been deprecated etc.

[code]

[2017-12-03 12:30] Swipe650 commented on #43
Try changing line 53 in CMakeLists.txt:

from:

`set(warnings "-Wall -Wextra -Werror")`

to:

`set(warnings "-Wall -Wextra")`

[2017-12-03 12:31] guzzard commented on #43
@Swipe650, yes, then everything builds fine of course, but default is set to fail on warnings so thought @ebruck wanted to be notified.

[2017-12-03 16:11] ebruck commented on #43
@guzzard Thanks for letting me know about this issue. Seems Ubuntu is a bit behind at 1.7.4. Can you try adding -Wno-deprecated and leaving the -Werror flag?

I'll look at either adding this flag next release or clean up the errors if they show up in 18.04.

[2017-12-03 16:26] ebruck commented on #43
It's a bit early, but it doesn't look like 18.04 will be getting the latest jsoncpp.

https://packages.ubuntu.com/bionic/libs/libjsoncpp1

[2017-12-03 21:37] guzzard commented on #43
Hi @ebruck,
[code]

[2017-12-04 00:24] ebruck commented on #43
@guzzard thanks. This isn't going to be as easy as I thought.

[2017-12-04 00:29] johnraff commented on #32
I think Ubuntu (and some others) set flat volumes *off* in the PA configuration (which solves this, and some other issues) while Debian, at the moment anyway, are leaving flat volumes *on*, following the current PA default. This seems to make the master volume jump to 100% when apps try to change it.

[2017-12-04 19:06] ebruck commented on #43
@guzzard @Swipe650 this worked for me:

[code]
You will need to remove your build dir and regenerate it again. There's a bug in my script that doesn't update cmake's cache.

[2017-12-04 23:14] guzzard commented on #43
Hi @ebruck,

[code]
This worked, no errors or warnings :+1:

[2017-12-05 02:07] #43 closed

[2018-01-01 19:05] ebruck opened #47 "Unable to reorder group/stations that have unicode characters"
A station like this cannot be reordered:
[code]
It also appears that a station within a unicode group isn't movable even if its name is in plain text.

[2018-01-03 17:11] anechampenois opened #49 "No config file?"
As I wanted to modify the color of the icons (my desktop uses a white panel), I tried to find the config file according to the readme file. It was not here.
So I created it manually, but it doesn't seem to work. :(
FYI I used the tar.gz v0.2.0 and build my own Debian package (on Stretch ie Debian 9).

[2018-01-03 18:12] ebruck commented on #49
What steps did you perform to build and install?

[2018-01-04 22:20] anechampenois commented on #49
Thanks for your quick answer.

- To build and install, I 've used your readme:
First I've installed the packages notified in the section 'To build on Ubuntu' (I suppose, as Ubuntu is a debian's derviative, it works too for Debian's building).
Then I followed the steps in the section 'Build Radiotray-NG & Debian Package'. It works like a charm and produced a .deb package for my system (i386).

- Ye

[2018-01-04 23:48] ebruck commented on #49
The config file should be named:   radiotray-ng.json

[2018-01-05 17:32] anechampenois commented on #49
Aha! So my mistake.
My confusion comes from the fact that there's a .cfg file in the same directory (ie ~/.config/radiotray-ng) for the bookmarks' editor.
So,

- I reverted the manual modifications i've made into radiotray-ng's files and deleted my false config file.

- I added the following entries in radiotray-ng.json:
"radiotray-ng-on" : "/usr/share/icons/ubuntu-mono-light/apps/24/radiotray-ng-

[2018-01-05 17:32] #49 closed

[2018-01-05 18:17] anechampenois opened #50 "Lack of notification icon in black"
When I tried to solve my issue with the icons (see [issue #49 ](https://github.com/ebruck/radiotray-ng/issues/49)) I noticed that the notification icon is only in a white version.
For users like me using light color destop environment, it's a real problem because it's almost invisible.
It could be usuful to have a second version of this icon in black in radiotray-ng/data/hicolor/256x256/apps/ (if

[2018-01-05 18:49] ebruck commented on #50
You can change it.  There's a black version located in /usr/share/radiotray-ng used for the about box.

[2018-01-06 15:05] granthgh opened #51 "bookmark editor does not work"
Have installed radiotray-ng_0.2.0_ubuntu_17.10_amd64.deb on kubuntu_17.04 and radiotray runs fine, however the bookmark editor does not work. Is this a known issue?
Also would be possible to compile a ubuntu 17.04 radiotray package if that is the problem?

[2018-01-06 15:23] granthgh commented on #51
Running the editor from the command line gives:
rtng-bookmark-editor: relocation error: rtng-bookmark-editor: symbol _ZNK8wxWindow7IsShownEv, version WXU_3.0 not defined in file libwx_gtk2u_core-3.0.so.0 with link time reference.

Hopefully this will help localize the issue.

[2018-01-06 17:38] ebruck commented on #51
I'm sorry the package will not work on 17.04. If you look at the readme there are instructions on how to build from source. I will have to look at creating a PPA in the near future.

[2018-01-06 17:41] ebruck commented on #50
Before I close this issue, could you please tell me what desktop environment you are using and which theme? Perhaps I can create dark version for it in a future release.

[2018-01-06 17:54] ebruck commented on #51
@granthgh I've uploaded a 17.04 package.

[2018-01-07 10:05] granthgh commented on #51
Thank you for the PPA update.

[2018-01-07 16:29] anechampenois commented on #50
OK Thanks for your lights on theming radiotray-ng.
I use xfce 4.12 with the breeze-X theme (a GTK theme similar to breeze, a KDE5 theme). It's specific to SolydXK. If you want, I can send you a screenshot.
I'd like to say that, with the theming in radiotray-ng, I can modify icon in the tray, notification's icon, but I can use a theme for my menu called [whisker menu](https://gottcode.org/xfce4-whi

[2018-01-07 16:37] CPUGPU commented on #51
Thank you for the 17.04 release.  Installed and working!  (Editor doesn't.  Will add info to existing issue.)

[2018-01-07 17:01] ebruck commented on #51
It's working fine for me on 17.04 when I build it there. I may of missed a dependency.
Having said that 17.04 will reach EOL on January 13, 2018.

[2018-01-07 17:08] CPUGPU commented on #51
Ah, time for me to upgrade.  Don't waste your time fixing it for 17.04 if we only have 6 days left!

[2018-01-07 18:09] ebruck commented on #50
I'm starting to see theme creators add radiotray-ng icons.  You'll have to file a feature request with your icon theme's maintainer.

[2018-01-07 18:09] #50 closed

[2018-01-07 20:41] #51 closed

[2018-01-09 01:23] CPUGPU commented on #51
Upgraded to 17.10, can confirm the bookmark editor works just fine.

[2018-01-09 15:50] mburns83 commented on #51
I have not been able to replicate this issue. However, research has shown that other products have experienced similar issues on Ubuntu 17.04 and derivatives. The typical solution for those other products have been to rebuild them locally against a pre-3.0 version of wxWidgets. Unfortunately, the editor uses capabilities that are not available in pre-3.0 versions of wxWidgets.

The following fixes

[2018-01-12 18:38] al-right opened #52 "Internet Radio Directory Integration"
Hi,
This is feature suggestion:
Integration of an external Internet radio directory (IRD) such as e.g. Dirble https://dirble.com/developer/
It is already being used by others: https://dirble.com/developer/applications

Ideas:
* Search for Internet radio stations and add them via the Bookmark editor. E.g. via search from categories, but also via a search field if one has some keywords available suc

[2018-01-17 05:06] ebruck commented on #52
@al-right thanks these are great ideas.

[2018-02-17 17:10] #47 closed

[2018-02-28 13:30] sasa1984 opened #53 "Translation"
Is it possible to translate radiotray-ng?

[2018-03-10 09:28] guzzard opened #54 "[Feature req] Suppress notification for some radio stations"
Would be really nice to be able to enable/disable notifications per radio stations in the station configuration. Some stations spam with ads etc in the notifications with very short intervals.

[2018-03-10 20:29] ebruck commented on #54
@mburns83 please add editor support for the new toggle. thx!

[2018-03-19 03:31] ebruck commented on #54
@guzzard editor changes by @mburns83 have been merged into v0.2.2-dev. If you can build and test that would be very helpful.

[2018-03-19 13:43] guzzard commented on #54
Cool! Will test tonight!

[2018-03-19 22:48] guzzard commented on #54
@ebruck  @mburns83 working great for me! Settings apply on bookmark refresh. Thanks!

[2018-03-21 00:47] ebruck commented on #54
That's great. Thanks for testing!

[2018-03-22 21:10] #54 closed

[2018-04-08 02:05] #33 closed

[2018-04-10 17:50] lulcat commented on #53
I know quite a few of languages but not writing as a native :p of those unfortunately English and Norwegian are probably the only ones. But I can do the Norwegian IF internationalisation is ready (placemarkers for the translatable strings etc.); also I can do it in return for being able to bloody adjust the volume within app! So far it only displays volume from master... I use alsa only and I can

[2018-04-11 09:54] zhukovra opened #58 "Copy current artist and title to clipboard"
Hi @ebruck! Thank you for supporting Radiotray!

Please implement that feature: left mouse click in area copies this text to clipboard:
![image](https://user-images.githubusercontent.com/289431/38609644-48fc71ea-3d87-11e8-8c94-14793d033606.png)

[2018-04-11 15:13] ebruck commented on #58
No events are fired when clicking on a disabled menu entry. Perhaps you could put this into a script or assign to a hotkey?

[2018-04-11 15:47] zhukovra commented on #58
Thank you for hint, it works.

But maybe someone have a time to make that function. Can you label it with "enhancement"?

[2018-04-12 02:14] ebruck commented on #58
There is no event that can be acted upon when the menu item is disabled.

[2018-04-12 02:31] lulcat commented on #53
Heya.. no I  don't use pulse.. and it's very nice.. _except_ I can't control one thing.. this app except through the master volume of course... because it doesn't have a way to adjust it's own volume it seems.. on my system, it just displays 93% greyed out... maybe it's my system? Can you adjust the volume in the radiotray app? If so, then of course, my apologies for saying it was the app not bein

[2018-04-12 02:35] ebruck commented on #53
Have you tried the scroll wheel on the icon? What desktop environment are you using?

If you DE doesn't have full appindcator support then there isn't much I can do. You can also control the volume through the dbus interface. Perhaps you can assign qdus commands to a hotkey.

[code]

[2018-04-12 02:37] lulcat commented on #53
I use pure alsa and I can control mplayer independendtly of master volume, and of course any other item which has it's own internal volume slider, eg. youtube, browser, mplayer (had to enable with config option), so ye, the only item remaining is this app.. as I understood, the app was a bit in its infancy so to speak, so I just assumed the lack of controlling volume was due to that, but if it is

[2018-04-12 04:03] lulcat commented on #53
"bookmarks" : "/home/<user>/.config/radiotray-ng/bookmarks.json",
   "last-station" : "Groove Salad",
   "last-station-group" : "Chill",
   "last-station-notifications" : true,
   "notification-verbose" : true,
   "notifications" : true,
   "split-title" : true,
   "volume-level" : 94

was the original file, removing it, created this one:

"bookmarks" : "/home/<user>/.config/radiotray-ng/bookmarks

[2018-04-12 12:47] zhukovra commented on #58
I'm OK, why not? If you can suggest better UX to copy current song info - let's talk about it!

[2018-04-13 01:28] ebruck commented on #58
@zhukovra can you build the v0.2.2-dev branch and test the new feature?

[2018-04-13 07:39] zhukovra commented on #58
@ebruck a bit later, thanks.

[2018-04-16 00:48] sispus opened #59 "radiotray stopped playing specific m3u8 radio"
Hi, thanks for keeping ailve this wonderful radiotray.
My radiotray (v0.2.2-dev and v0.2.1) on manjaro xfce (17.1.8) now stop playing TRT Radyo 3, and other TRT channels.
http://trtcanlifm-lh.akamaihd.net/i/RADYO3_1@181946/master.m3u8
how can i fix it?

[2018-04-16 01:03] sispus commented on #59
another m3u8 stream, not working. they were working couple of days ago.
http://a.files.bbci.co.uk/media/live/manifesto/audio/simulcast/hls/nonuk/sbr_low/llnw/bbc_world_service.m3u8

[2018-04-16 16:38] ebruck commented on #59
@sispus BBC World service is working for me.

[2018-04-16 17:43] sispus commented on #59
yes, now bbc works here too, sorry. but trt3 one doesn't.

[2018-04-16 17:54] zboraon commented on #59
@sispus For Trt3, try this:

http://trtcanlifm-lh.akamaihd.net/i/RADYO3_1@181946/index_96_a-p.m3u8?sd=10&rebase=on

[2018-04-16 17:56] ebruck commented on #59
@sispus try this: http://trtcanlifm-lh.akamaihd.net/i/RADYO3_1@181946/segment152390126_96_a-p.ts

[2018-04-16 20:24] ebruck commented on #59
It appears m3u8 (application/vnd.apple.mpegurl) files need special handling and it's not a typical m3u file as radiotray-ng assumes. It can contain paths to other resources. I've looked at how VLC handles them:

https://mailman.videolan.org/pipermail/vlc-commits/2013-June/020701.html
https://mailman.videolan.org/pipermail/vlc-commits/2015-July/031403.html

I need to research this a bit more. Best

[2018-04-16 20:53] sispus commented on #59
There is no alternative stream URL, unfortunately.

I have plenty of time :)  so tried these, without knowing if they will help you:
 1.
http://trtcanlifm-lh.akamaihd.net/i/RADYO3_1@181946/segment152390126_96_a-p.ts
"Failed to download playlist"
2.
http://trtcanlifm-lh.akamaihd.net/i/RADYO3_1@181946/segment152390126_96_a-p.ts?sd=10
"Failed to download playlist"
3.
I had already extracted this one

[2018-04-17 01:11] #58 closed

[2018-04-17 01:45] ebruck commented on #59
TuneIn doesn't even try to play these streams: https://tunein.com/radio/TRT-Radyo-3-912-s14307/

[2018-04-17 15:06] ebruck commented on #59
I watched gst-play in Wireshark and I can see that it's constantly requesting the playlist. I believe this is required once it's played the segments. This is certainly something I could do, but would require a major rewrite of the player and playlist downloader code. To be honest this isn't something I'm interested in doing as there are thousands of other stations to listen to.

[2018-04-17 17:18] sispus commented on #59
I don't blame you for that, but let me be sad shortly :( It is the only station that I want to listen in Turkish while working.
Actually I have a consolation that it is an official nationwide broadcast here and I have a radio receiver for that :)
Thank you for your patience and keeping radiotray alive, again.

[2018-04-17 17:18] #59 closed

[2018-04-23 13:45] vkotovv opened #60 "Publish package in Ubuntu repositories"
Any plans for publishing as a package in Ubuntu repos? I know one can install .deb file, but since old radiotray is still in the Ubuntu packages, adding an alternative could be good.

[2018-04-26 11:13] Kabouik opened #61 "The donation notification is too frequent"
I understand that this notification is there and cannot be disabled, but it is just too frequent when it pops in several times during one single track. I don't actually know how notifications work, because the track name notification seems to kick in several times during a track. Is it timer-based?

[2018-04-26 11:19] Kabouik opened #62 "Compatibility with http://www.radio-browser.info/"
On my Sailfish phone, I use Allradios all the time, an Internet radio application that uses http://www.radio-browser.info/gui/#/ for listing radios. Gradio uses that too. Is there a way this base could work directly within Radiotray-ng? The number of listed radios is impressive, and the tagging system makes it easy to find radios (and most importantly, discover new radios). I would love to have a

[2018-04-26 11:33] Kabouik commented on #61
Nevermind, the notifications were coming from the radio I was listening. Sorry about the noise.

[2018-04-26 11:33] #61 closed

[2018-04-26 15:41] ebruck commented on #61
With the latest release you can now turn "notify" off for a specific station in the bookmark editor.

[2018-04-27 02:17] ebruck commented on #62
This is similar to #52.
I'll keep radio-browser.info in mind as another possible source for a new directory browser.
thx!

[2018-04-27 02:17] #62 closed

[2018-04-27 07:39] Kabouik commented on #62
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Oh right, I missed #52 sorry. The author indicated that the database he mentioned would require user
accounts though, and I don't think this is necessary with www.radio-browser.info, since I use no
accounts for Allradios and Gradio, so that would be a good candidate. I am not sure whether there is
a limit to the number of request can do, but I've ne

[2018-04-27 07:44] Kabouik commented on #61
Nice, looking forward to getting the update in the Solus repository then! At the moment it seems we just have 0.2.1 available.

[2018-05-03 08:19] rcspam opened #63 "Dependencies issue to install on ubuntu 16.04"
Hi, thanks for this wonderful app.
Installation of the 0.22 version deb file on ubuntu 16.04 require libcurl4...
I know this package is for 18.04, but is it possible to produce one for 16.04LTS

[2018-05-03 16:39] ebruck commented on #63
I'll have to detect 16.04 builds to address this issue: https://bugs.launchpad.net/ubuntu/+source/curl/+bug/1754294

I should have something soon.

[2018-05-03 17:10] ebruck commented on #63
16.04 package added:
https://github.com/ebruck/radiotray-ng/releases/download/v0.2.2/radiotray-ng_0.2.2_ubuntu_16.04_amd64.deb

[2018-05-03 17:10] #63 closed

[2018-05-03 17:11] ebruck commented on #63
32 bit builds are no longer being generated.

[2018-05-03 17:17] rcspam commented on #63
I gave compile a deb package without problem on 16.04, i have just remove libcurl4 depend from the cmakelist and so from the control debian file.

[2018-05-09 06:31] sispus opened #64 "feature request: search"
Hi,
I wonder if it is possible to add a search utility for radio tray. It would be good to have ability to filter station list by a search box, etc.

[2018-05-09 15:54] ebruck commented on #64
I'm not sure of a good way to do this and it really isn't how Radiotray-NG was meant to be used.

[2018-05-09 20:50] #64 closed

[2018-05-14 09:06] brumle80 opened #65 "compile 0.2.3-dev fails"
tried compiling 0.2.3-dev from AUR on Arch and it fails with:

[code]

[2018-05-14 21:17] brumle80 commented on #65
thanks, have notified package mantainer on AUR.

[2018-05-15 16:58] ebruck commented on #65
@brumle80 Can you please pull the latest 0.2.3-dev and see if my change helps?

[2018-05-15 18:32] brumle80 commented on #65
maintainer updated the AUR package radiotray-ng-git and it compiles correctly again.

Thank you

[2018-05-15 18:32] #65 closed

[2018-05-15 20:11] ebruck commented on #65
Removing -Werror is not really a fix. :)
It would helpful if the AUR packager could try my changes.

[2018-05-16 11:19] brumle80 commented on #65
I will pass it on, but I just reinstalled the package and it now compiles without any of the previous error messages at least.

[2018-05-24 20:34] stiltgit opened #66 "support for text/uri-list missing"
In contrast to original radiotray, radiotray-ng is missing support of text/uri-list
e.g. http://vtuner.com/setupapp/guide/asp/func/dynampls.asp?link=1&id=530

[code]

The original radioplayer handles links like this.

gstreamer never handles text/uri-list directly, there's no plugin for this

[2018-05-24 22:55] ebruck commented on #66
I can certainly add a decoder for this, but I don't get a text/url-list after the 302. Just a text/html which means I'd have to assume that lines starting with "http" are radio urls.  I assume that's how the old player did it?

[2018-05-24 23:17] ebruck commented on #66
I see how the old player was able to play this URL. I'll implement what it did.
Thanks for filing the bug!

[2018-05-25 00:04] #66 closed

[2018-05-25 15:41] ebruck commented on #66
@stiltgit please give v0.2.3-dev branch a try.

[2018-06-02 12:18] vtpoet opened #68 ""Currently Playing" only alotted one line in Plasma"
Have been using radiotray/radiotray-ng for years and love your work on it.

An ongoing issue that I've noticed ever since using Radiotray & Radiotry-NG on Plasma: When right clicking the drop down menu in the panel, only one line is allotted to the "currently playing" slot (unlike in Linux Mint/GTK desktops). This just about always makes it impossible to read what's currently being played. All des

[2018-06-02 15:53] ebruck commented on #68
I imagine multiple lines are not supported in Plasma/Qt. Have you seen any other app use multiple lines in KDE?

I'll do a bit of research, but if it's not supported then the only thing I can do is insert a menu item for each line, but that with the spacing would make the menu rather long.

[2018-06-02 15:58] ebruck commented on #68
Another thing to try is not use line breaks and see if Plasma wraps the line for me.

[2018-06-02 16:59] vtpoet commented on #68
Well, it's minor. If it's an easy fix, then great. If not, I'll just keep using as is. But as an alternate solution, what about hovering over the panel icon to display "now playing" info? --- or does Plasma also get in the way of that?

[2018-06-02 17:03] ebruck commented on #68
Tooltips seem to of been removed by most desktop environments. I don't believe appindicators ever supported them.

[2018-06-02 17:09] vtpoet commented on #68
Bother...

I just updated RadioTray after updaing to 18.04. The new editor is great. :)

[2018-06-02 17:27] ebruck commented on #68
Check out the new **invert-menu** option if you use adiotray-ng on a "bottom" dock.

[2018-06-02 19:26] ebruck commented on #68
Just tried running radiotray-ng under Kubuntu 18.04 and multiline menu items are certainly not supported well. I've tried \r vs \n and I can make it "sort" of work, but KDE isn't expanding the menu item to accommodate the second line. Also, If I disable the 40 column line wrapping I use it sometimes ignores the line break using \r and renders it all on one line.

![image](https://user-images.githu

[2018-06-02 19:35] ebruck commented on #68
I also noticed that middle click does work for starting/stopping playback. Sadly mouse scroll events are not being sent so you can't adjust the volume. You can use the dbus interface to adjust the volume levels if you want.

[2018-06-02 23:07] vtpoet commented on #68
Glad to give it a try. Is there a deb file or do I need to clone your GIT repository?

[2018-06-02 23:13] ebruck commented on #68
No, just exit radiotray-ng and edit your ~/.config/radiotray-ng/radiotray-ng.json config file.

[2018-06-02 23:31] vtpoet commented on #68
Okay, just tried it. And the result:
![radiotray dropdown](https://user-images.githubusercontent.com/26415181/40881698-5bf7258c-669b-11e8-8376-a196a4a02bf3.png)

Better than it was. I can live with it. :)

[2018-06-03 00:47] ebruck commented on #68
I think I'll add an option in the next release to disable the word wrapping.

[2018-06-03 04:44] ebruck commented on #68
@vtpoet can you build my v0.2.3-dev branch and test this change? Also, you can not edit the config while radiotray-ng is running or it will revert any change you made.

[2018-06-03 14:40] vtpoet commented on #68
Hi ebruck, I do a build about once every other year (and out of desperation); and always have to relearn everything. I'm game, but you're going to have to prime the spark plug. "I'm a Doctor, not a bricklayer." (Star Trek reference...)

So, to make sure we're on the same page:

1.) Download radiotray-ng-master.zip? Is that your v0.2.3-dev branch?
2.) sudo apt install libcurl4-openssl-dev libjsoncp

[2018-06-03 15:46] ebruck commented on #68
1. use: https://github.com/ebruck/radiotray-ng/archive/v0.2.3-dev.zip
2. That is the correct cmake command. Just make sure the first parameter points to where the source code is.

[2018-06-03 17:33] vtpoet commented on #68
Yeah... Okay, you clearly don't get just how little how do this sort of thing:

:)

$ cmake radiotray-ng -CDMAKE_BUILD_TYPE=Release
loading initial cache file DMAKE_BUILD_TYPE=Release
CMake Error: Error processing file: DMAKE_BUILD_TYPE=Release
-- The C compiler identification is GNU 7.3.0
-- The CXX compiler identification is GNU 7.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for wor

[2018-06-03 17:47] ebruck commented on #68
Are you building in the directory where you unpacked the source code?
That cmake_minimum_required should not be there as I have it set in my code.

Perhaps the first parameter needs to be set to the location of the code?

`$ cmake <path-to-src>/radiotray-ng -CDMAKE_BUILD_TYPE=Release`

[2018-06-03 17:55] vtpoet commented on #68
Yes to your first question. That seemed the simplest thing to do. Below is what I was looking at when running Cmake:

![cmake radiotray](https://user-images.githubusercontent.com/26415181/40889500-b161fb9c-6735-11e8-8bd5-cb01463ad7f5.png)

[2018-06-03 19:16] ebruck commented on #68
Ok then you should just do:   cmake . -DCMAKE_BUILD_TYPE=Release

[2018-06-03 19:49] vtpoet commented on #68
Like magic. So you know, the last time I coded was with a TRS-80 Pocket Computer (which I still have) and later an Apple IIe (which I tragically don't) --- Basic, Pascal and a smattering of machine language. My knowledge of programming is a little dated.

radiotray-ng:
  Installed: 0.2.3-dev
  Candidate: 0.2.3-dev
  Version table:
 *** 0.2.3-dev 100
        100 /var/lib/dpkg/status

And here's wha

[2018-06-03 20:02] ebruck commented on #68
Now exit and edit your config and make sure these are set to:

"split-title" : false
"wrap-track-info" : false

[2018-06-03 20:11] vtpoet commented on #68
Hmmm.... Don't see the second option:

![radiotray config](https://user-images.githubusercontent.com/26415181/40890749-c402d290-6748-11e8-90d6-fd840927fead.jpg)

[2018-06-03 20:16] ebruck commented on #68
Please add it.

[2018-06-03 20:52] vtpoet commented on #68
Sweet. Been trying different channels. A huge improvement for a Plasma user. Every once in a while I'd hear a piece and not know what it was. I'd have to go to the actual website to sort it out.

Some of the "now playing" titles are long (classical music...). Makes the drop down menu stretch half across the desktop, but doesn't bother me at all. Might be too much work, or not  necessary, but might

[2018-06-03 21:34] vtpoet commented on #68
Right now, if my counting's right, the current title is 121 characters long:

![121 characters](https://user-images.githubusercontent.com/26415181/40891441-79daab88-6753-11e8-9dbf-7178fa4438fa.png)

80 Characters is probably too short. I'd speculate something like 160 characters and adds... That should work for anyone still using 1366x768?

Here's what's playing on Radio Classique:

![and beethove

[2018-06-03 23:47] ebruck commented on #68
160 may be way too big, but I could also make that configurable.

With this option:

You can copy the text to the clipboard paste into a search.  I'll make sure that when I cut the text off that the original is still copied to the clipboard.

[2018-06-04 00:13] vtpoet commented on #68
Up to you, obviously, but if I had to choose I'd rather see the listing than have to copy/paste.  It presently works beautifully on a 1080 screen.

[2018-06-04 13:37] vtpoet commented on #68
That's sensible. If it's customizable, then no reason to complain.

How will this feature be discoverable?

[2018-06-04 16:07] ebruck commented on #68
I don't plan to create a preference editor. For most people the defaults are fine.

[2018-06-04 16:07] #68 closed

[2018-06-04 16:27] vtpoet commented on #68
Thanks ebruck! And thanks for the work you've done on this little app. I use it every day. :)

[2018-06-19 20:44] ebruck commented on #60
I have no plans to create a PPA.

[2018-06-19 20:44] #60 closed

[2018-07-21 05:21] alexleosumy opened #69 "Error when application start"
Hi.
My system is ArchLinux. Can't start radiotray-ng.
` radiotray-ng: error while loading shared libraries: libboost_filesystem.so.1.66.0: cannot open shared object file: No such file or directory`
I think it's becouse my lib updated and now version **boost-libs 1.67.0-5**

[2018-07-21 05:37] alexleosumy commented on #69
I updated radiotray-ng and all ok. I had old version 0.2.0

[2018-07-21 05:37] #69 closed

[2018-08-26 20:38] sramauge opened #70 "Bookmark conversion error on manjaro"
With rt2rtng i've this error on bookmark conversion :

rt2rtng ~/.local/share/radiotray/bookmarks.xml > bookmarks.json
Traceback (most recent call last):
  File "/usr/bin/rt2rtng", line 81, in <module>
    root = etree.parse(sys.argv[1]).getroot()
  File "src/lxml/etree.pyx", line 3426, in lxml.etree.parse
  File "src/lxml/parser.pxi", line 1840, in lxml.etree._parseDocument
  File "src/lxml/parse

[2018-08-26 21:03] ebruck commented on #70
Can you post your bookmarks.xml file?

[2018-09-09 16:57] ebruck commented on #70
@sramauge This may be your problem:

https://stackoverflow.com/questions/7604436/xmlparseentityref-no-name-warnings-while-loading-xml-into-a-php-file

[2018-09-09 16:57] #70 closed

[2018-09-10 18:34] terinjokes opened #71 "MPRIS support?"
I have integrations with the MPRIS D-Bus specification. I know not all the methods make sense for internet radio, but I think it would still be great to support it alongside the custom D-Bus interface.

The MPRIS specification allows us to signal support for track controls and seeking with booleans such as `CanGoNext` and `CanGoPrevious`.

Is there any interest in working on this? If not, would yo

[2018-09-18 21:50] ebruck commented on #71
@KOT040188 I'm sure you can always use the dbus interface along with hotkeys to control the player. Yes, it's not mpris, but right now that is the best you can do under KDE.

[2018-09-18 21:59] KOT040188 commented on #71
Most of all I need support for kdeconnect.

[2018-09-18 22:02] terinjokes commented on #71
I'm going to try to add MPRIS as a patch.

[2018-09-18 22:12] KOT040188 commented on #71
@terinjokes, thank you!

[2018-09-18 22:26] KOT040188 opened #72 "Copy song title to clipboard"
I very often look for information in Google about the songs that I liked. Every time I have to type the name and author of the composition manually. I have to do this quickly while the song is playing, otherwise the next song will start playing and I will not record the name completely. It would be a good idea to add a button to copy the name of the song. Or you can do this by clicking on the name

[2018-09-18 22:35] ebruck commented on #72
Radiotray-NG already does this. Please have a  look at the config options in the readme.

[2018-09-18 22:35] #72 closed

[2018-09-18 22:38] KOT040188 commented on #72
Sorry, I didn't notice…

[2018-09-19 07:28] brentr opened #73 "No include directories: Cannot build"
Under Debian Stretch 32-bit, cmake is not adding any include (-I) options to the c++ compiler commands.  It seems that none of the target_included_directories are being recognized.
Am I doing something stupid?
How do I satisfy the missing "user-agent" dependency?

To build from git:
# apt install libcurl4-openssl-dev libjsoncpp-dev libxdg-basedir-dev libnotify-dev libboost-filesystem-dev libgstrea

[2018-09-19 08:13] KOT040188 opened #74 "Editing radiotray-ng.json"
I'm trying to modify the radiotray-ng.json. radiotray-ng is not running at this time. but after it runs, it returns the radiotray-ng.json file to its original state and all changes are lost.

[2018-09-19 12:46] KOT040188 opened #75 "Move root group up"
Radio stations added to the root group are located at the very bottom under all groups. Is it possible to transfer them to the very top of all groups?

[2018-09-19 12:54] KOT040188 commented on #74
This question can be removed.

[2018-09-19 16:42] ebruck commented on #75
No, this is by design.

[2018-09-19 16:55] ebruck commented on #73
This is incorrect:

It should be pointing to the root of the repo:

[2018-09-19 16:55] #74 closed

[2018-09-19 16:58] KOT040188 commented on #75
Too bad…

[2018-09-19 22:11] KOT040188 commented on #71
@terinjokes, how long will it take? At least approximately.

[2018-09-19 22:14] ebruck commented on #75
@KOT040188 you could try this config option:

[2018-09-19 22:17] ebruck commented on #75
I'll see how easy it is to add a flag to move it to the top.

[2018-09-19 22:18] KOT040188 commented on #75
Thank you. I'll check tomorrow.

[2018-09-19 23:31] terinjokes commented on #71
No idea. This isn't my project and I'm working on it in my free time when I feel like it.

[2018-09-21 01:04] ebruck commented on #75
@KOT040188 please pull down v0.2.4-dev branch and test new config option.

[2018-09-21 01:04] #75 closed

[2018-09-21 01:05] #73 closed

[2018-09-21 08:26] brentr opened #76 "How does one generate rtng_user_agent.hpp?"
I see a custom command in the CMakeLists.txt
It does not seem to be invoked automatically.
The package builds if I simply copy the *.in to .hpp
But, I'm sure that wasn't your intent...

``
$ make package
[  4%] Built target appindicator_gui
[  9%] Built target config
[ 12%] Building CXX object src/radiotray-ng/playlist/CMakeFiles/playlist.dir/playlist_downloader.cpp.o
/home/brent/git/radiotray-ng/

[2018-09-21 16:57] ebruck commented on #76
I'm not sure why you are having so many problems. All targets depend on the user-agent "target".
What do you see when you run this?

It would be helpful if you could paste the output from cmake when you point it to the root of the repo.

[2018-09-21 17:54] brentr commented on #76
make user-agent works after I run:

$  rm -rf *
$  git reset --hard

Oddly, git clean -f was not sufficient to reset the state of the build in this case.

Could you revise the readme.md to refer to the top directory of the repo rather than to the "source" directory.  There is a directory called src which is obviously where the radiotray-ng source lives.  Thanks!

Everything builds fine now.
Here's

[2018-09-21 17:54] #76 closed

[2018-09-21 18:27] ebruck commented on #76
@brentr I'll fix the readme. It does seem a bit confusing.
thx!

[2018-09-22 04:13] brentr opened #77 "Debian package does not install in "Stretch""
On "master" branch, generated DEB package with

$  make package

but the resulting package fails to install:

[code]

It seems that libcurl4*dev packages ultimately depend on the libcurl3 package.
Nutty, but there it is.

Changed libcurl4 ==> libcurl3 in CPackConfig.cmake:

`SET(CPACK_DEBIAN_PACKAGE_DEPENDS "libc6, libbsd0, libcurl3, libjsoncpp1, libxdg-basedir1, libnotify4, python2.7, python-lxml

[2018-09-22 04:29] ebruck commented on #77
My package targets the latest Ubuntu (18.04) release. For 16.04 I have to modify the Debian package before each release and change it to version 3. This is one of the reason why I'm thinking of abandoning packaging and let each distro if they choose do it for their users.

More info:

https://bugs.launchpad.net/ubuntu/+source/curl/+bug/1754294

I do not plan to support anything other than Ubuntu r

[2018-09-22 04:29] #77 closed

[2018-10-13 20:03] baimafeima opened #78 "Jazz > Smooth Jazz and both Latin channels doesn't play"
Clicking on Jazz > Smooth Jazz leads to: `error: failed to download playlist`
Both latin channels also don't work.

[2018-10-13 20:09] baimafeima opened #79 "Icon inconsistency/invisibility in Budgie menu"
I use [Solus](https://getsol.us/home/) Budgie as it has `radiotray-ng `in its repositories. Unfortunately, when launching the application from Budgie menu, the icons are invisible and when using the mouse cursor on the empty space where the icon usually is, then the - I assume - previous icon ("transmitting station icon") appears in almost invisible white. This icon is different from the icon ("th

[2018-10-13 21:56] ebruck commented on #78
What version are you using?
It should of been fixed in v0.2.3 with https://github.com/ebruck/radiotray-ng/commit/eab37323bdbbd1d15ef60d88fe961697ccb1b132

[2018-10-13 22:28] ebruck commented on #79
It's hard to come up with a set of icons that will work for every distro's default theme.  Have a look at the readme as it shows how you can override the icons being used. I'm happy to accept a pull request that installs icons for Solus' default theme. I will only accept colour variations though.

One change that is coming is a new notification image that has a thin broder around the "tower". http

[2018-10-14 20:29] ebruck commented on #79
@baimafeima can you try this as sudo?

`gtk-update-icon-cache -f -t -q /usr/share/icons/hicolor/`

If this fixes the invisible icon issue then there's an eopkg problem.

[2018-10-14 20:55] ebruck commented on #79
I installed Solus-3.9999-Budgie and other than being a version behind, it seems to work just fine. It's showing up with a different icon, but that appears from the Papirus theme.

![image](https://user-images.githubusercontent.com/1168556/46922043-ef90a900-cfb7-11e8-8b53-fcb92e1a5585.png)

[2018-10-14 21:42] ebruck commented on #79
I'm closing this as it seems to work fine and overrides such as:

[code]
are working as expected.

[2018-10-14 21:42] #79 closed

[2018-10-14 21:43] ebruck commented on #78
This was fixed in v0.2.4. Please ask the packager to update the Solus version.

[2018-10-14 21:43] #78 closed

[2018-10-15 17:20] ebruck commented on #79
I should add that the menu icon is different because the Papirus them is incomplete. It just replaces the on/off icons and not the notification one.

[2018-10-16 19:21] igor2x opened #80 "self-compiled deb when try to install procudes error: radiotray-ng depends on libcurl4"
I am using Ubuntu 16.04 **32-bit** on old laptop.

I installed radiotray-ng_0.2.1_ubuntu_16.04_i386.deb few months ago from official download and it was working fine without any issue at all.

But today I noticed new version 0.2.3 is available, but unfortunately 32-bit deb package is not available to download.

I tried to compile it myself following the instructions on official site:
[code]
One be

[2018-10-16 19:37] ebruck commented on #80
This is an issue that has been a pain for a while now and the reason I will no longer create binary releases.

You can read the details here (https://bugs.launchpad.net/ubuntu/+source/curl/+bug/1754294), Just change lbcurl4 to libcurl3 in `debian/CMakeLists.txt` and it should work fine.  I can change the build code to do that for you automatically next release.

The alternative is to unpack the de

[2018-10-16 21:22] joebonrichie opened #81 "0.2.4-dev compile error: -Werror=cast-function-type"
Currently getting this compile error on 0.2.3 and 0.2.4-dev

[code]

Removing `-Werror` in CMakeLists.txt will fix the compile error, but of course that isn't a proper fix.

Thanks in advance!

gcc version: 8.2.0
glibmm : 2.56.0
libsigc++ : 2.10.0

[2018-10-16 21:47] joebonrichie commented on #81
You're right similar to d4fb8dd marking `radiotray-ng/CMakeLists.txt`, `src/radiotray-ng/extras/media_keys/CMakeLists.txt` and `src/radiotray-ng/extras/rtng_dbus/CMakeLists.txt` as SYSTEM PRIVATE did the trick.

[2018-10-17 00:47] #81 closed

[2018-10-17 13:38] ppareit opened #83 "Compile dependencies on Fedora 28"
Following development packages are needed to build on fedora

[code]

[2018-10-17 13:40] ppareit opened #84 "Unable to build on Fedora 28"
[code]

[2018-10-17 17:30] ebruck commented on #84
lsb_release is required to be install for the build to work.

[2018-10-17 17:30] #84 closed

[2018-10-17 17:30] ebruck commented on #83
Thanks. I will add these to the readme.

[2018-10-17 17:34] ebruck commented on #84
I will add lsb-release package to the list of dependencies. It's installed by default on ubuntu.
What is the package name for Fedora?

[2018-10-17 17:35] igor2x commented on #80
Thanks, your solution works excellent.

Just for reference, I did:
1. Downloaded official 0.2.3 version from:
https://github.com/ebruck/radiotray-ng/archive/v0.2.3.zip
2. Unzipped the file
3. Copied text from https://raw.githubusercontent.com/ebruck/radiotray-ng/af37cd65e251d66631f70f905b3ca3eaa17e8580/debian/CMakeLists.txt
and saved it into file CMakeLists.txt
4. Replace file debian/CmakeLists.tx

[2018-10-17 17:45] ebruck commented on #80
Thanks for verifying my fix.

[2018-10-17 17:45] #80 closed

[2018-10-17 18:52] ppareit commented on #84
Indeed, `$ sudo dnf install redhat-lsb` solved it:

[code]

[2018-10-17 18:54] igor2x opened #85 "Add more icons in tray to indicate the volume level, buffering, radio on/off"
Hi,
this is enhancement request.

I really like radiotray-ng program. I like to use program without notifications, to not disturb me on my daily work. I may lose some info because of this like buffering new radio station and similar.

If I compare wifi and sound icons I see there are many icons to indicate strength of wifi and volume of the sound. But radiotray-ng has only two icons "radio is on"

[2018-10-17 18:54] #83 closed

[2018-10-17 19:41] ebruck commented on #85
I'm not sure how useful this sort of info is since the icon is so small. I can also see a bunch of tickets being filed, because someone's theme isn't complete and the icon is flashing between stock and theme images all the time.

As for volume level I certainly can add an option to enable text like this next to the icon:

![screenshot from 2018-10-17 12-37-57](https://user-images.githubusercontent

[2018-10-18 18:14] igor2x commented on #85
I know icon is small, but the wifi and sound icons are also small. In my humble opinion it would be nice if sound indication is implemented as I suggested.

I actually don't know how many uses are using volume inside radiotray-ng, maybe users more use system sound. If this is true, then it is actually waste of your time to implement such a feature.

I actually don't like icons that are having addi

[2018-10-31 18:06] ebruck commented on #85
Sorry I don't plan to do this. I'd have to take away theming to ensure the feature works consistently.

[2018-10-31 18:06] #85 closed

[2018-11-06 07:29] baimafeima opened #86 "Some radio channels don't work in v0.2.4"
I'm on the latest 0.2.4 now and tested all channels. The following ones don't work:
Latin: Top Latino Radio
Latin: Reggaeton 24/7
Classical: WCPE
Classical: CINEMIX
Oldies: AM 1710
Oldies: AM 600
Oldies: WNAR
Techno/Electronic: New Dance Radio
Community: Jupiter Broadcast

[2018-11-06 07:48] ebruck commented on #86
What exactly do you mean by they are not working?

[2018-11-06 07:54] baimafeima commented on #86
I click on them and get `Error: Failed to download playlist`. All the other ones are working perfectly fine.

[2018-11-06 08:14] ebruck commented on #86
They seem to be working fine.
Can you add  ` "debug-logging" : true,`  to your config and see if the logs have more info?

[2018-11-06 09:01] baimafeima commented on #86
I added the line `"debug-logging" : true, ` to the `.json` file and got this log.

[2018-11-06 09:08] baimafeima opened #87 "Three additions to the Classical channel"
It would be great to add the following three high quality stations to the Classical channel:
- WQXR 105.9 FM: https://www.wqxr.org/
- BBC Radio 3: https://www.bbc.co.uk/radio3
- Kol HaMusica 91.5: http://kolhamusica.radio.net/

[2018-11-06 09:46] baimafeima opened #88 "Add Chinese channel"
It would be great to add a new _Chinese_ channel to allow listening to Chinese classical and contemporary music. If you think mixing C-Pop and Chinese Classical is not such a good idea, it would also make sense to add the Chinese classical station to the _Classical_ channel. Both are fairly different and I would group them together. My station recommendations for a new _Chinese_ channel would be:

[2018-11-06 09:50] Swipe650 commented on #88
You can add all these channels yourself via the bookmark editor

[2018-11-06 09:58] baimafeima commented on #88
I think it would be great to have a new channel which is pre-configured and working out-of-the-box. Otherwise everything has to be manually set up each time on every new machine. Having a Chinese channel would allow my Chinese friends to use radiotray-ng and I believe make this application much more popular.

[2018-11-06 10:05] Swipe650 commented on #88
Only needs to be done once. Just copy your bookmarks config to your other machines and upload it to github and share with your friends.

[2018-11-06 17:29] ebruck commented on #87
Do you have the URL for the live streams?

[2018-11-06 17:32] ebruck commented on #86
I also see this:

[2018-11-06 17:40] ebruck commented on #88
@baimafeima do you have the URL for the live streams?

[2018-11-06 19:30] baimafeima commented on #86
What could be the issue then? I know some were previously working but have stopped working for me. Is there any possibility to fix it?

[2018-11-06 19:33] ebruck commented on #86
I'm afraid there is nothing I can do.

[2018-11-07 08:59] baimafeima commented on #86
I use [Solus](https://getsol.us/home/) Budgie and don't use any proxy, and I am currently located in Germany. Could it be that so many live streams are not working here due to country restrictions? I think that's very unlikely, no? Where are you located?

[2018-11-09 14:22] vtpoet opened #89 ""Currently Playing" No Longer Updates"
On both my systems, Mint and KDE, Radio Tray is no longer updating the "Currently Playing"  play list. Currently, it continues to list the music that was playing when I first connected. If I stop and restart Radio Tray, the playlist updates to the current title, but still won't update after that.

[2018-11-09 18:04] ebruck commented on #89
Works fine for me on Mint 19 MATE.

[2018-11-10 15:47] vtpoet commented on #89
//What version of Mint? Which KDE distro? What version of radiotray-ng?//

Apologies, should have included all that.

System:    Host: vtpoet-Lenovo-Yoga-2-11 Kernel: 4.18.0-041800-generic x86_64 bits: 64 Desktop: Cinnamon 3.8.9 Distro: Linux Mint 19 Tara

radiotray-ng:
  Installed: 0.2.3
  Candidate: 0.2.3
  Version table:
 *** 0.2.3 100
        100 /var/lib/dpkg/status

KDE will be forthcoming s

[2018-11-10 18:28] ebruck commented on #89
Can you try upgrading to 0.2.4?

[2018-11-10 20:52] ebruck commented on #89
I've tried Cinnamon Linux Mint 19 and it's working fine with v0.2.4.
Could you please list exactly the steps you use to reproduce your issue?

[2018-11-17 18:49] ebruck commented on #89
Tested on KDE Neon with no problems other than know AppIndicator quirks we previously addressed in #68.

[2018-11-17 18:49] #89 closed

[2018-12-15 12:38] igor2x opened #90 "Unable to build on Ubuntu 16.04 32-bit"
Hi,
on Ubuntu 16.04 Desktop **32-bit** I downloaded radiotray-ng-0.2.4.tar.gz and then followed instructions "To Build on Ubuntu" from https://github.com/ebruck/radiotray-ng and at command:
`cmake .. -DCMAKE_BUILD_TYPE=Release`

I got error:

It looks like when cmake is installed from Ubuntu 16.04 it installs older version then radiotray-ng requires in the latest source code.

[2018-12-15 13:35] igor2x commented on #90
In order to compile radiotray-ng I need to install newer version of cmake.

I looked at official cmake web page https://cmake.org/download/ and there is no cmake binary for Linux 32-bit. It is getting more and more interesting...

I solved the problem with the steps bellow.

1. I removed cmake:
`sudo apt purge cmake`

2. I downloaded cmake-3.13.2.tar.gz source code from above URL and compiled and

[2018-12-15 17:44] ebruck commented on #90
Please request that someone add radiotray-ng to Ubuntu's official repo.
https://bugs.launchpad.net/ubuntu/+source/radiotray/+bug/1745829

I don't have the time to build 32bit & 64bit packages for all currently supported Ubuntu releases.

[2018-12-15 17:44] #90 closed

[2018-12-16 04:55] phd21 opened #92 "How to import existing streaming radio playlists?"
Hi ebruck,

Thank you for this nice application.

I have many streaming playlists available in various playlist formats. How can I import them into "radiotray-ng"? It would be great to have an import option.

I also use the excellent StreamTuner2 application which supports "drag n drop" to most music applications and that would be great to do with your radiotray-ng application directly or using it

[2018-12-16 19:51] fieserWolF opened #93 "cmake complaining on missing "appindicator3-0.1" on debian testing"
when trying to build radiotray-ng, cmake complains:

-- Checking for one of the modules 'appindicator3-0.1'
CMake Error at /usr/share/cmake-3.13/Modules/FindPkgConfig.cmake:679 (message):
  None of the required 'appindicator3-0.1' found
Call Stack (most recent call first):
  CMakeLists.txt:57 (pkg_search_module)

I have installed everything available  on debian, nothing works:
libappindicator3-1
l

[2018-12-16 20:20] prof-milki commented on #92
Hi everyone.

Let me chime in here to lobby for an `add_radio(name, url, genere)` DBUS method in Radiotray-NG. Or the other way round to match `Bookmarks::add_station()`...
See also: [http://fossil.include-once.org/streamtuner2/wiki/radiotray](http://fossil.include-once.org/streamtuner2/wiki/radiotray)

ST2 is already patched to read the nicer RT-NG bookmarks.json format. But having the ability to

[2018-12-16 23:52] ebruck commented on #93
What version of Debian are you using? Just tried Debian 9.6 with no problems building except for having to hack the required cmake version.

[2018-12-17 00:17] ebruck commented on #88
@baimafeima any luck?

[2018-12-17 00:40] ebruck commented on #92
@prof-milki this is interesting. I'll do a bit of research to see how this can be added. This certainly can be used by @phd21 to write a script that imports any sort of playlist data he may have.

I'm open to exposing more of radiotray-ng via dbus than adding these sorts of features to the bookmark editor.

[2018-12-17 02:51] phd21 commented on #92
Hi ebruck,

Thank you for replying quickly.

I am glad to see that Mario of StreamTuner2 (st2) is also engaged in this.

A lot of people (including me) would find an easy to use desktop import playlist option into your radiotray-ng bookmarks very useful.

I provided a link to my post on StreamTuner2 for your information.

StreamTuner2 ♪♬# / Discussion / Open Discussion:
Request for adding support

[2018-12-17 18:31] ebruck commented on #92
I read some of the discussions and JSON is rather easy to deal with especially in Python. The quickest route to getting something going is for ST2 to edit the JSON file found in the config setting and then issue a reload bookmarks command via the dbus interface.

[2018-12-17 20:39] prof-milki commented on #92
@ebruck

Just added some fallback logic to augment RTNGs bookmarks.json directly. That's indeed the simplest option.

Radiotray recognizes the on-disk change right away, but the DBUS .reload_bookmarks() method does not seem to complete. It *does* get recognized with a "Bookmarks Reloaded" app notification, but the station list doesn't get rebuild/redrawn. (While Preferences > Reload Bookmarks does

[2018-12-17 20:47] ebruck commented on #92
I think you found a bug. :)
I'll look into it right away.

[2018-12-17 21:02] ebruck commented on #92
@prof-milki please use v0.2.5-dev

[2018-12-17 21:41] prof-milki commented on #92
@ebruck Works like a charm now ;)

[2018-12-18 04:01] phd21 commented on #92
Hi ebruck,

I just compiled and installed the developer version0.2.5-dev and can also confirm that StreamTuner2 can add to the RadioTray-ng and it both work great.

Most of the Linux Mint people or other Linux users are not very comfortable compiling software from source code. Can you please provide "deb" files for this version? I am currently using Linux Mint 19 and Linux KDE Neon both based on U

[2018-12-18 04:17] ebruck commented on #92
@phd21 more advanced station discovery and perhaps an import facility will be part of #52
@mburns83 is currently looking into this.

[2018-12-18 05:06] phd21 commented on #92
Hi ebruck,

Thank you for your work on radiotray-ng and for working with Mario of StreamTuner2 from all music lovers.

I put some paraphrased instructions on how to compile your radiotray-ng v0.2.5-dev on the Linux Mint forum post. I hope that is alright with you.

I read the links to the comments you provided. I totally understand how difficult it could be to provide the various installation file

[2018-12-18 17:47] ebruck commented on #93
I had installed libappindicator3-dev in Debian testing and there was no pkg-config entry.
I next tried apt-get install indicator* which finally added it. Not sure what packages I installed exactly to get that. Since this is testing I would not spend much time assuming it works 100% so I'm closing this ticket.

[2018-12-18 17:47] #93 closed

[2018-12-19 03:20] ebruck commented on #92
Thanks for the links.

[2018-12-19 03:20] #92 closed

[2018-12-22 21:48] ebruck commented on #92
@prof-milki initial play_url support has been added: https://github.com/ebruck/radiotray-ng/commit/ffd743c6bfefc428a5e5626e47c59e34f3116208

Any testing you can do would be great as it's a bit of hack.

thx!

[2018-12-22 23:20] phd21 commented on #92
Hi Ed? Ebruck,

That is great. I also mentioned this in the post I have been working on with Mario.

I found this link below regarding importing or converting playlist to json format that may be of interest in you and this post.

m3u to JSON converter
https://gist.github.com/christopherlovell/9db2bdd81088cf673219

Merry Christmas and Happy Holidays to you and yours!

Best regards to you and yours,

[2018-12-25 03:08] TomaszGasior commented on #71
Please look at https://github.com/ebruck/radiotray-ng/pull/94

[2018-12-25 21:20] ebruck commented on #71
Thanks @TomaszGasior for getting the ball rolling!

[2018-12-27 17:32] #88 closed

[2018-12-30 15:05] moved-to-gitlab opened #95 "Menu track info stops updating after temporary stream interruption"
I'm using Ubuntu 16.04.05 with Radiotray-NG v0.2.4.

When listening to any stream, if there is a temporary interruption, the audio continues and the NotifyOSD messages continue to display each new track as normal, however the track and artist info displayed in the AppIndicator dropdown menu will no longer update until the stream is manually stopped and re-started.

Curiously, I noticed that while

[2018-12-30 18:21] ebruck commented on #95
Can you try "reloading bookmarks" when this occurs to see if it renders the menu with the new data?

[2018-12-30 19:04] moved-to-gitlab commented on #95
I just tried and the track/artist text changed from the outdated info to "Stopped". If I click on that area I am no longer able to copy it to the clipboard. Anything else I can do to help troubleshoot further?

I disabled debug mode after my original post, but I can re-enable it and try this again if that's helpful.

[2018-12-30 20:10] moved-to-gitlab commented on #95
Apologies, I should have been clearer. The stream continued playing after I reloaded the bookmarks (and the track/artist text changed to "Stopped"), but the area no longer highlights on hover and nothing is copied to the clipboard. That's probably not worth fixing, just some info for completeness.

Running Radiotray-NG from a terminal produced this message, after the re-buffering and outdated stat

[2018-12-30 21:07] ebruck commented on #95
I'm able to play this stream fine on 18.10 using v0.2.5 for the play_url dbus command support:

[2018-12-31 00:34] ebruck commented on #71
@terinjokes can you use this as a starting point if you've not already begun development?

[2018-12-31 18:10] ebruck commented on #95
I may have something soon. I've walked through the code and I believe I've found how after pause/buffering the "playing" state is not set and further updates to the gui are out of sync.

Can you try stopping a stream and restart it from the menu when you see the UI not update? It would be interesting to see if it starts rendering the menu correctly.

[2018-12-31 18:33] moved-to-gitlab commented on #95
When the UI stops updating, I will often stop and re-start the stream from the menu and it immediately displays the correct track info again, until the next interruption at which point the track info stops updating.

I have a gigabit FTTH connection so drop-outs are rare with most streams, however the NPR one from the logs is buggy and suffers frequent interruptions (this is true for every NPR str

[2018-12-31 18:38] ebruck commented on #95
Thanks for confirming my suspicions. I'll see if I can get a fix in today.

[2018-12-31 19:10] ebruck commented on #95
@moved-to-gitlab please test my fix located in branch: v0.2.5-dev.

thx!

[2018-12-31 21:13] moved-to-gitlab commented on #95
PERFECT! Many thanks for fixing this so quickly.
- The artist/track info now continues to update after stream dropouts and re-buffering.
- Copy to clipboard still works perfectly
- reloading bookmarks during playback still works perfectly
- NotifyOSD messages still work perfectly
[code]
Debug logs below for completeness, but there isn't anything unexpected I can see:
[code]

[2018-12-31 21:13] #95 closed

[2018-12-31 21:20] ebruck commented on #95
Thanks for verifying the fix.

[2019-01-01 05:37] prof-milki commented on #92
@ebruck Thanks! The empty group "" seems quite involved. It's working great nonetheless. Didn't notice any UI issues either when switching between real bookmarks and temporary play_url stations.

This might even warrant a `--play_url` CLI option to make Radiotray invokable as generic audio player.

@phd21 See the [attached script](https://github.com/ebruck/radiotray-ng/files/2719139/jspf-import.zi

[2019-01-01 17:12] phd21 commented on #92
Hi ebruck,

Happy New Years to you and yours.

Were your new changes added to your  "v0.2.5-dev" branch? So, all we have to do is re-compile and install that?

Thank your for the import JSPF playlist script, I will check that out. Is this script going to be added to your radiotray-ng app or its bookmarks editor? It would still be great to have some way to import a more common playlist format like

[2019-01-04 14:32] igor2x opened #97 "Server does not support seeking"
Hi,
I have self-compiled Radiotray-NG few weeks ago and installed it on Ubuntu 16.04 desktop **32-bit**. In About menu option there is info: v0.2.4.

I am using program for many years and time to time I get the error "Server does not support seeking". This error is displayed on operating system notification. When this happens music stops playing and Radiotray-NG icon changes from white to grey ind

[2019-01-04 17:23] ebruck commented on #97
This is an odd error gstreamer is giving when there's an issue playing a station. I've seen this myself as well when a station halts sending packets. Give v0.2.5-dev a try as there has been some minor changes that "should" make radiotray-ng restart the stream.

[2019-01-04 17:42] ebruck commented on #97
Some info I found: http://gstreamer-devel.966125.n4.nabble.com/Souphttpsrc-error-Server-does-not-support-seeking-td4239793.html

[2019-01-04 19:07] igor2x commented on #97
I have now compiled and installed as suggested and from About menu entry I see: v0.2.5-dev.

Like few minutes after starting Radiotray-nG I have heart music stop, Radiotray-NG icon was still white, no operating system notification (I like this) and then automatically music continue to play after 3 seconds. I don't know if this was this bug solution, just pointing out.

I can't see anything special

[2019-01-04 19:14] ebruck commented on #97
You have to turn on debug logging.
This bug (#95) prevented radiotray-ng from returning to a "playing" state.

[2019-01-06 13:17] igor2x commented on #97
Hi,
two days ago in $HOME/.config/radiotray-ng/radiotray-ng.json I have added `"debug-logging" : true`
and today suddenly the same problem appeared like in first post.

See attachment for debug log.
[radiotray-ng-00005.log](https://github.com/ebruck/radiotray-ng/files/2730493/radiotray-ng-00005.log)

Can you please reopen a bug report.
Regards

[2019-01-06 14:38] igor2x commented on #97
Hi,
just in case if something new jumped into development branch I have re-compiled it. Deleted log files and started the app. After half an hour the same problem appears.

See log file:
[radiotray-ng-00000.log](https://github.com/ebruck/radiotray-ng/files/2730559/radiotray-ng-00000.log)

Regards

[2019-01-06 18:51] ebruck commented on #97
@igor2x try pulling v0.2.5-dev again.

[2019-01-06 19:42] ebruck commented on #97
I can't reproduce this on 18.10 using:

[code]

[2019-01-06 20:19] ebruck commented on #97
It seems there are "several" redirects (verified in wireshark) occurring that gstreamer for you is not handling:

For me it seems the latest gstreamer is handling it.

I'm not sure what else I can do here. Try changing the url for this station to http://94.23.51.96:8001/ or use:  http://yp.shoutcast.com/sbin/tunein-station.pls?id=1263172

[2019-01-06 20:53] macplaxton opened #98 "[opensuse Leap 15.0 / KDE] Icons barely visible"
After a long break of using radiotray / radiotray-ng, I spent a few hours methodically working through a manual compilation of the 0.2.4 source.

The icon appears in the tray and on the pop-up notifications, but is barely visible against the stock system colours.

If I fix the colours, could an additional set be included in the source so those building for opensuse can see them?

[2019-01-06 21:05] ebruck commented on #98
I've noticed that when trying KDE myself recently. A theme specific icon for Breeze would be nice. Please ensure dark mode is also supported. You may be able to reuse the old Unity icons under data/ubuntu-mono-light & data/ubuntu-mono-dark.

[2019-01-06 21:14] macplaxton opened #99 "[opensuse Leap 15.0 / KDE] BBC m3u8 streams not loading"
When the BBC moved to m3u8 HLS streams it initially neutered a lot of internet radios and I had to shift over to using VLC to get round the problems I was having with the old radiotray and gstreamer as repos with readymade RPMs are non-existent.

So after a long  break I compiled from source 0.2.4 for the above. Included stations work okay, but trying a few non-UK streams from both CDNs and none a

[2019-01-06 21:15] macplaxton commented on #98
Thanks, I will look into that later.

[2019-01-06 21:49] ebruck commented on #99
I've run into HLS streams over the past year and still need to better understand how they work. I know that the way radiotray-ng is now, it can't handle some of the huge playlists a site sends. Those playlists can contain hundreds of segment URLs. Some sites need authentication first and then it may encrypt those streams, which would require radiotray-ng to request the key etc. etc. etc.

Gstreame

[2019-01-06 22:16] macplaxton commented on #99
I'll try some more testing on this Mint desktop, from memory it was working ok which encouraged me to jump through the hoops of getting the thing working on the main opensuse desktop.

I take it the config file has a toggle for debug logging on it to pinpoint where it's going wrong?

[2019-01-07 13:10] macplaxton commented on #99
Yes, well the first six are the 128kbps mp3 non-UK streams. These are the stop-gap* streams and whilst current, will get the chop in the near future. The above work okay outside the UK and play fine. They notify as "Connecting", "Buffering" followed by playing with "Station name".

Log shows:
`[warning] (playlist_downloader.cpp:191) - Content exceeds our limit of 4,096 bytes!`
`[info ] (playlist_d

[2019-01-07 13:47] macplaxton commented on #99
I'm on the Mint desktop now and just done a test of:

BBC Radio 6 (non-UK) 96kbps HLS stream
http://a.files.bbci.co.uk/media/live/manifesto/audio/simulcast/hls/nonuk/sbr_low/llnw/bbc_6music.m3u8

After starting up 0.2.3 here, the first time I click on the bookmark, it shows "Connecting" notification and plays nothing. The second time I click on it always works and plays fine. It does the same when

[2019-01-07 13:55] macplaxton commented on #99
opensuse desktop test of the same stream as the previous post.

It actually works, but like above, it needs two clicks of the bookmark.

[2019-01-07 16:31] igor2x commented on #97
Just a humble idea, no pressure at all, as I see Ubuntu 18.10 (your install) and Ubuntu 16.04 are not using the same GStreamer version. Now we are getting into the different distribution default libraries hell. I know you are busy, but in order to eliminate problems of this type we should probably consider to create cross-distribitions binary package with one of them: Snap, Flatpack or AppImage. I

[2019-01-07 16:37] igor2x commented on #97
Problem appeared. See log file:
[radiotray-ng-00000.log](https://github.com/ebruck/radiotray-ng/files/2733475/radiotray-ng-00000.log)

[2019-01-07 17:49] ebruck commented on #99
Try v0,2.5-dev and the double start issue "should" be gone.

[2019-01-07 17:56] ebruck commented on #99
I found something interesting. If I send an m3u8 url to gstreamner without extracting the segment urls, it starts playing. I may have some changes coming that would great if you could test.

[2019-01-07 18:07] macplaxton commented on #99
I'll pull down the current source and compile later.

More than happy to test anything I can.

[2019-01-07 20:15] ebruck commented on #99
@macplaxton please pull down the latest v0.2.5-dev.

[2019-01-07 23:39] ebruck commented on #97
Have you tried the other URLs I mentioned?

 http://94.23.51.96:8001/ or: http://yp.shoutcast.com/sbin/tunein-station.pls?id=1263172

[2019-01-08 08:02] macplaxton commented on #99
Pulled down v0.2.5-dev with latest 8c608f8 commits.

Double start issue has now gone. Starts within a second or so. Haven't done any extended testing yet (I work odd hours). Will carry out some extended testing on days off, but I can confirm that I had no problem starting BBC 6 Music non-UK 96kbps stream (Limelight CDN) and switched with no problem to my second test stream BBC Radio Scotland non-U

[2019-01-08 13:44] igor2x commented on #97
I have overlooked your suggestion. Today I have changed to IP address and listened music for one hour and then changed to domain name and listened to one hour and problem did not appear. This may be a solution or problem just hasn't happened yet.

[2019-01-08 16:45] igor2x commented on #97
Unfortunately problem reappeared when using domain name.
[radiotray-ng-00002.log](https://github.com/ebruck/radiotray-ng/files/2737653/radiotray-ng-00002.log)

[2019-01-08 16:51] igor2x commented on #97
And few minutes after setting it to IP address the same problem.
[radiotray-ng-00000.log](https://github.com/ebruck/radiotray-ng/files/2737680/radiotray-ng-00000.log)

[2019-01-08 20:16] ebruck commented on #97
This issue is the same and there's a patch I can try.
https://github.com/clementine-player/Clementine/issues/5116

[2019-01-08 20:18] ebruck commented on #97
@igor2x please pull down latest seek-test branch. It "should" recover if the stream is dropped.

[2019-01-10 07:05] sispus commented on #59
Now its working well! I'm here to thank you :)
v0.2.5-dev
(v0.2.4-18-g0384bc4-dirty)

[2019-01-10 23:03] ebruck commented on #59
@sispus glad to hear it's working for you.

[2019-01-10 23:03] ebruck commented on #97
@igor2x any updates?

[2019-01-10 23:05] ebruck commented on #99
@macplaxton something like that. ;-)

[2019-01-11 06:10] igor2x commented on #97
I have pulled down seek-tests branch 2 days ago and since no "seeking" error appeared.

I see plenty of GST_STATE_PAUSED and GST_STATE_PLAYING, but since I have no trouble with program,
I don't care about this messages.

Maybe you can close down this bug report and if problem reappeared I will add comment to it.
Thank you for taking time to help me out with this problem. I really enjoy this tool.

[2019-01-11 15:08] igor2x commented on #97
Now first time since 2 days music stopped playing, but it started continue playing after 3 seconds. This happened two times in a role 3 minutes apart. In error log there is logged "restarting stream". Is this it?
If yes, then this problem is fixed with work-around.

See log:
[radiotray-ng-00001.log](https://github.com/ebruck/radiotray-ng/files/2750084/radiotray-ng-00001.log)

[2019-01-11 16:50] ebruck commented on #97
Buffering stalled so the timer fired and the stream was restarted.

[2019-01-12 02:20] macplaxton commented on #99
Update test.

Tried an extended (approx 8h, 1800 UTC - 0200 UTC) testing using two of the BBC R4 FM 96kbps non-UK streams. First up was the Akamai CDN and this worked okay and I wasn't hearing any dropouts. Then I switched over to the same via the Limelight CDN, the performed similarly.

Now, whilst I don't experience any loss of audio, I do get quite frequent buffering notifications popping up at

[2019-01-12 02:53] macplaxton commented on #98
I've done some recolouring of the icons and have them sort of working. I've still to sort the playing icon.

Given the frequent buffering in issue #99 what I have thought about is perhaps a change in the way buffering is notified. Should an instance of buffering occur, instead of triggering a pop-up dialogue box appearing in the bottom corner of the screen, could the "radio waves" of the icon not

[2019-01-12 02:55] ebruck commented on #99
The download speed provided by your ISP isn't an indicator of link quality to a server that may be across the Atlantic. Buffering events are reported by gstreamer when its data drops below a threshold.

This is only setting you need to change:

   "buffer-duration" : 2,

Try 3-5 and see how that works for you.

[2019-01-12 03:03] ebruck commented on #98
This has been suggested in the past (#85) and I've decided the icons are much too small to show any meaning full info.

I can also see the tickets coming in asking for different colours, which is why I like simple dark/light icons and let theme creators use whatever they want.

[2019-01-12 03:06] ebruck commented on #99
An option is to put buffering messages behind a config setting. If audio isn't dropping out as the player briefly pauses then there's no point in displaying a message.

[2019-01-12 03:58] macplaxton commented on #99
Gave 3 a try now.

Over 20 mins, it's calmed down a lot
[radiotray-ng-00013.log](https://github.com/ebruck/radiotray-ng/files/2751672/radiotray-ng-00013.log)

Trying this now. Do I lose any other types notifications?

Alternatively, could a notification only be displayed if gstreamer reports a buffer underrun? e.g. only when the buffer is empty

[2019-01-12 04:04] ebruck commented on #99
Connecting, buffering, stop and timer start/stop messages and squelched.

[2019-01-12 14:06] probonopd opened #100 "Compilation errors on Ubuntu 14.04"
Compilation errors on Ubuntu 14.04:
https://travis-ci.com/probonopd/radiotray-ng/builds/97130454

How to compile on Ubuntu 14.04?

[2019-01-12 18:36] ebruck commented on #100
It looks like the jsoncpp library is too old. I've had fun in the past with Travis and its default 14.04 environment. We ended up having to download libjsoncpp and build it ourselves.

I wouldn't bother with 14.04 as it will be EOL in April. I'd also avoid building against such an old gstreamer version and libs.

[2019-01-12 19:13] probonopd commented on #100
So what is the oldest one if is known to build on without hassle?

[2019-01-12 19:19] ebruck commented on #100
I wouldn't use anything older than 1.7.4.

[2019-01-12 19:33] probonopd commented on #100
This would exclude all Ubuntu releases prior to bionic, according to [here](https://packages.ubuntu.com/bionic/libjsoncpp-dev).

[2019-01-12 20:40] ebruck commented on #100
Well it does build fine on 16.04 which is no where near bleeding edge.

[2019-01-13 02:36] macplaxton commented on #98
I can agree with the second point, although I wouldn't say they were too small to show some status changes, even if it was to differentiate better between just on and off.

I had a bit of trouble with the radiotray-ng-on icon, but I've found the procedure to flush the cache that stores that one (had no trouble with the rest oddly enough) and will test a bit more before submitting a KDE Breeze set.

[2019-01-15 16:46] KOT040188 opened #101 "Add the deb ubuntu 18.04 package for the latest release 0.2.4"
I have a small request. Please add the deb ubuntu 18.04 package for the latest release 0.2.4. Thank you!

[2019-01-16 16:59] #100 closed

[2019-01-16 17:00] ebruck commented on #97
Any seek messages in the logs? I'm interested in learning if my change allows playing to recover if a redirect is sent and gstreamer tries to do a seek.

[2019-01-16 18:17] probonopd commented on #100
So there will be no way to build master on 14.04, the currently oldest still-supported Ubuntu release?

[2019-01-16 19:15] ebruck commented on #100
I'm certainly not going to put effort into a release that will be EOL in April. I've never supported that version of Ubuntu. It's just too old without updating the compiler for C++14 support and jsoncpp which has newer and better functionality I wanted.

[2019-01-16 19:17] ebruck commented on #100
If you want to fork and make it work for yourself then have a look at my solution for another project: https://github.com/bluzelle/swarmDB/blob/devel/cmake/jsoncpp.cmake

[2019-01-16 20:07] probonopd commented on #100
Thanks for the clarification.

[2019-01-16 20:19] probonopd commented on #100
On Ubutnu 16.04 I am also getting compilation errors:
https://travis-ci.com/probonopd/radiotray-ng/builds/97594727

[2019-01-16 21:18] ebruck commented on #100
Try **not** updating the compiler. There looks to be an issue in the newer one not knowing that certain headers are from the "system" and that it should ignore any warnings.

I'm using this from a very old install with no problems:

[2019-01-16 21:41] probonopd commented on #100
That works for me. Thanks.

[2019-01-16 21:43] probonopd opened #102 "Make application relocateable"
I am trying to make an [AppImage](https://appimage.org/) of radiotray-ng. I can build one, but when running it I am getting

[code]

AppImages are not installed within `/usr`.

Please do not assume that resources are at a fixed absolute path location within `/usr/share/` but rather use a path relative to the main executable (determined at runtime rather than compile time), e.g., using http://doc.q

[2019-01-16 22:15] ebruck commented on #102
I only support Debian packaging. I am open to a pull request that supports both.

[2019-01-16 22:15] #102 closed

[2019-01-17 06:37] igor2x commented on #97
There are plenty of seek errors, but I haven't noticed radiotray-ng program to stop and stayed in stopped state. I have now few days let program to run for hours. I lot of time I haven't listened to the music at all, but when coming back music was playing. The original problem when seek error appeared radiotray-ng was stopped and stayed in stopped state.

I have compressed the log files. See attac

[2019-01-17 19:03] ebruck commented on #97
@igor2x thanks

[2019-01-17 19:33] #97 closed

[2019-02-02 21:49] ebruck commented on #102
How is XDG_DATA_DIRS set when using an appimage?

[2019-02-03 11:22] probonopd commented on #102
`XDG_DATA_DIRS` is not touched, unless you use the C version of `AppRun` from AppImageKit which does the following:

https://github.com/AppImage/AppImageKit/blob/6baa36d0b1e0481aa36a36bb54140b81959b3874/src/AppRun.c#L180-L181

[2019-02-15 00:41] glixx commented on #53
Will you use transifex for translations? It's free for open-source projects.

[2019-02-28 20:38] mxmilkb opened #103 "polling for icon file"
radiotray-ng appears to constantly be polling for an icon file

[strace](https://gist.github.com/mxmilkb/c93e3d801a5d2dbf72f23495d83598d6)

(n.b. the above strace is from swaybar, which is having CPU spike issues, some of which are appear linked to this issue).

There are two of these available from the radiotray-ng-git package, but in they don't show up in the strace.

/usr/share/icons/ubuntu-mon

[2019-03-01 00:22] ebruck commented on #103
Perhaps it's the notify library being used which is looking for an icon that matches what was requested for a message? Unless the user specifies a complete path, the library should be searching based on the name such as radiotray-ng-on, radiotray-ng-off etc.

Quick run of strace on Ubuntu 18.04/Gnome shows no polling.

[2019-03-01 00:52] mxmilkb commented on #103
Notification system I'm using https://github.com/emersion/mako though I'm not sure it was running when I did the log. Doesn't change trying now though.

Or if it's libnotify? Hmm.

[2019-03-01 09:00] ianyfan commented on #103
I explained a bit badly in my previous comment, but this is a swaybar issue, so this issue can be closed.

[2019-03-01 13:12] #103 closed

[2019-03-02 20:10] ebruck commented on #98
@macplaxton any progress?

[2019-03-03 14:07] macplaxton commented on #98
Not yet. Progress has stalled due to other things.

I had a play around with the Breeze / OpenSUSE Breeze variants in both light and dark. What I need to do is make a suitable pair of icons, but as svg, not png. I had something of a svg code working, but need to read up on it more to fill some gaps in my knowledge.

[2019-03-10 08:49] kalligator opened #105 "Empty submenus in elementary OS 5.0 Juno"
Hello on eOS 5.0 Juno (18.04 amd64 base) I get empty submenus for everything (stations/prefs)

![radiotray-ng_0.2.4_amd64.deb](https://i.imgur.com/sfXSMpB.png[/img)
Stations placed in the root folder as well as Sleep Timer, About, Quit open normally.
I tried both the v0.2.3 provided .deb as well as building from the latest source (9 March 2019), same thing.
I also tested other themes than the defa

[2019-03-10 17:52] ebruck commented on #105
It seems that there may be a problem with eOS 5.0's appindicator support. Can you try another application that also uses the tray to see if it has a problem?

[2019-03-10 18:09] ebruck commented on #105
@kalligator is this how you turned on appindicator support?  If not then please give it a try.

https://www.linuxuprising.com/2018/08/how-to-re-enable-ayatana-appindicators.html

[2019-03-10 18:39] kalligator commented on #105
Thanks for getting back, most probably that's where the problem lies in yes.
I have followed this guide: https://github.com/mdh34/elementary-indicators - they probably make the same alterations but I'll give the one you mentioned a go just in case and I'll get back with before and after debug info by tomorrow.

Re the behaviour of other indicator apps, generally there are no obvious problems with

[2019-03-10 19:39] kalligator commented on #101
I've uploaded the one I compiled here http://www.mediafire.com/file/29y1ul0dc11yedc/radiotray-ng_0.2.4_ubuntu_18.04_amd64_2019.3.09.deb/file but to be safe you should build it yourself as well. Not hard at all if you follow the [instructions](https://github.com/ebruck/radiotray-ng#build-radiotray-ng--debian-package).

[2019-03-10 20:50] KOT040188 commented on #101
Thank you. I've already compiled follow the instructions while waiting for an answer. It was simple.

[2019-03-10 20:52] KOT040188 commented on #101
Now I'm waiting for implementation support MPRIS.

[2019-03-10 22:40] MAlfare commented on #101
@kalligator
Thank you for the deb-package.
Maybe it wouldn't be hard to build, but a lot of packages where to install, which I never would use for anything else.

[2019-03-10 23:50] kalligator commented on #105
Nothing usefull I'm afraid:
[code]
It's not that big of a deal breaker anyway, I wouldn't use subfolders anyway, 10 or so select stations at the root folder are more than I need realistically.

[2019-03-10 23:59] ebruck commented on #105
That and the fact the old radiotray & radiotray-lite have the same problem indicates that it's an eOS support of appindicator issue. Can you file a bug upstream?

[2019-03-11 17:58] #105 closed

[2019-03-16 19:28] ebruck commented on #101
Debian package added to v0.2.5 release

[2019-03-16 19:28] #101 closed

[2019-03-24 17:45] al-right opened #106 "Logging and co-existence with multiple computers sharing configuration setup"
First a big thanks for radiotray-ng!
I use it all day everyday! :)

**Summary**
I am missing a way to prevent logging in the .config/radiotray-ng/logs/ directory.
This is the primary concern. It is although not a high priority enhancement request, but it would simply be nice to have.
Reasons:
* I do not need the logs (at least for now.)
* Privacy concern. What I listen to only concerns me.
* Notif

[2019-03-25 19:44] ebruck commented on #106
Glad you found a workaround.

This brings up an issue of where I'm placing the pid files. They should go into the location defined by XDG_RUNTIME_DIR. I'll fix that next release and I'll also see what I can do about adding a logging enable/disable option.

[2019-03-26 16:23] ebruck commented on #106
@al-right hopefully these changes will work for you.

[2019-03-27 19:37] ebruck commented on #106
@al-right can you build v0.2.6-dev branch and test with your setup?

[2019-03-27 19:52] al-right commented on #106
@ebruck It seems to work (I have build it from the 0.2.6 branch.) Thanks a lot :)
* Disabling of logging works.
* Re. the pid-file: I cannot find it anymore in the .config/radiotray-ng directory which is fine,
_but I cannot seem to find it anywhere on the system at all - is this good or bad; where should it be located?_

[2019-03-27 19:54] ebruck commented on #106
try: cd $XDG_RUNTIME_DIR

[2019-03-27 19:56] al-right commented on #106
You are right - it is there. Everything works :)
Thanks a lot!

[2019-03-27 20:02] #106 closed

[2019-03-28 17:06] dafanasiev opened #107 "[Q] Use xdgCacheHome for logs?"
Now in `v0.2.6-dev` you use `xdgRuntimeDirectory` for logs.

Can you use something like

[code]
as log directory (and, of course, create directory if not exists) ?

//After that users can backup/sync app data directory without excluding *.log files (even when `disable-logging` set to `false` in config)

[2019-03-28 18:12] ebruck commented on #107
I had lumped the config and logs together so they were easier to find. I'll look into this next.
thanks!

[2019-03-28 19:03] #107 closed

[2019-03-29 06:33] dafanasiev commented on #107
@ebruck also need create directory (that `get_cache_dir` returns) if not exists.

[2019-03-29 16:23] ebruck commented on #107
boost logging does that for you

[2019-04-20 21:48] sexynavigator opened #108 "XML parsing"
m80 radios have non parsed or wrongly parsed info, as a result the usually small window of radiotray becomes quite large and difficult to manage. You can verify this with any of the following streams. If you cannot make them be parsed as supposed could you please include an option not to parse them. It happens both on m3u and xspf.

http://195.23.102.207/m80Pop.m3u
http://195.23.102.207/m80Dance.x

[2019-04-21 19:08] ebruck commented on #108
It appears that this encoding is meant for a station's website player?
I'm going to filter out any tags that look encoded.

[2019-04-21 19:35] ebruck commented on #108
If you can, please build v0.2.6-dev branch and test my change.

thx!

[2019-04-21 19:35] #108 closed

[2019-05-03 18:40] noreasternhumidity opened #110 "particular radio station not able to connect"
Hi, nice program.  I use this with Linux Mint on a regular basis.

Here is a potential situation which so far only occurs for me with this station.
KXL AM

program reports:
Error server sent bad data

These links I harvested from Firefox using the Network analyzer (my go-to method for using this program):

https://live.wostreaming.net/direct/alphacorporate-kxlfmaac-ibc4
https://live.wostreaming.ne

[2019-05-03 18:52] ebruck commented on #110
gstreamer doesn't like what the server is sending. My guess it's meant for a website player.

$ gst-play-1.0  https://live.wostreaming.net/direct/alphacorporate-kxlfmaac-ibc4
Press 'k' to see a list of keyboard shortcuts.
Now playing https://live.wostreaming.net/direct/alphacorporate-kxlfmaac-ibc4
ERROR Server sent bad data. for https://live.wostreaming.net/direct/alphacorporate-kxlfmaac-ibc4
ERRO

[2019-05-03 19:02] noreasternhumidity commented on #110
Okay, I kind of figured.  So either they are intentionally making it difficult for non-browser clients to connect, or else maybe just using a different approach.  I'm guessing they just aren't following standard protocol.

[2019-05-03 19:23] ebruck commented on #110
Switching to http and in Wireshark I see that they are using aacp.

GET /alphacorporate-kxlfmaac-ibc4?session-id=6722d01f9a3fb136efc942fd83c3de96 HTTP/1.1
Host: prod-18-236-222-179.wostreaming.net
User-Agent: GStreamer souphttpsrc 1.15.90 libsoup/2.66.1
icy-metadata: 1
Connection: Keep-Alive

HTTP/1.1 200 OK
Connection: close
Date: Fri, 03 May 2019 19:15:22 GMT
Content-Type: audio/aacp
Cache-Contr

[2019-05-03 19:38] noreasternhumidity commented on #110
Thanks for confirming.  Maybe a new thing?  If relevant then gstreamer will adopt it sooner or later.

This sort of reminds me of the newer Google WebP picture format, which I can so far only open using the latest and greatest version of Gimp.

[2019-05-03 19:51] ebruck commented on #110
There's may be some patent issues.

[2019-05-03 19:51] #110 closed

[2019-05-06 08:20] orschiro opened #111 "Fedora support"
Hey there,

Is there any interest packaging radiotray-ng for Fedora? :-)

See also https://bugzilla.redhat.com/show_bug.cgi?id=1388161

[2019-05-06 20:09] ebruck commented on #111
Can these be used?
http://rpmfind.net/linux/rpm2html/search.php?query=radiotray-ng

[2019-05-07 07:13] orschiro commented on #111
@ebruck I at least wasn't able to install it properly due to broken dependencies on Fedora 30:

[code]

[2019-05-07 15:17] Lonniebiz opened #112 "App-Level Volume Adjustment Using Mouse-Scroll-Wheel"
In Ubuntu 16.04, you could perform app-level volume adjustment in RadioTray by scrolling your mouse-wheel on top of RadioTray's top-panel icon.

In Ubuntu 19.04, which uses the Gnome desktop, this nice feature is missing. Furthermore, since I upgraded Ubuntu from 16.04, the App-Level volume is set to the app-level volume I last adjusted back in Ubuntu 16.04 and I cannot even find an alternative wa

[2019-05-07 15:31] ebruck commented on #112
I had already discovered this bug and reported it here:
https://bugs.launchpad.net/ubuntu/disco/+source/gnome-shell-extension-appindicator/+bug/1825447

[2019-05-07 15:31] #112 closed

[2019-05-07 15:36] Lonniebiz commented on #112
That's true, but my report is more prettier and yours is ugly!

[2019-05-07 15:38] ebruck commented on #112
But this is radiotray-ng's github repo and not the old unsupported and dead python version!  ;-)

[2019-05-07 15:44] Lonniebiz commented on #112
I'm glad some kind soul is keeping the radiotray going. I hope they can fix this issue with volume adjustment; its a great feature.

[2019-05-07 15:47] ebruck commented on #112
Grab the fixed version from:

https://launchpad.net/ubuntu/+archive/primary/+files/gnome-shell-extension-appindicator_29-1_all.deb

[2019-05-07 15:51] Lonniebiz commented on #112
Do you maintain a repo for this, so that I can just auto-get updates you make?

[2019-05-07 17:02] zen2 commented on #53
I can help to translate for French langage.

[2019-05-07 17:08] zen2 opened #113 "Internal data stream error"
Firstly, thanks to write this software, I'm a long time radiotray user but I need a new version that don't depend on gstreamer 0.10 so it's time for radiotray-ng.

I have built it and I think I have installed all dependencies.
I can launch it but I can't play any stream with 0.2.5.

I got this debug log:

[code]

[2019-05-07 17:20] ebruck commented on #113
First thing I would do is ensure you have all the gst streamer good, bad etc. plugins installed.

[2019-05-08 08:31] zen2 commented on #113
Thanks for the quick reply. I was thinking it was a problem with the playlist file but it was the MP3 and AAC codec missing.
Works perfectly so far :) Thanks for this rewrite.
I will try to write an ebuild for gentoo linux.

[2019-05-08 14:55] #113 closed

[2019-05-09 12:55] vinzv commented on #53
Transifex would be okay, but Weblate is way better in terms of responsiveness and speed: https://weblate.org/en/hosting/

[2019-05-09 21:39] glixx commented on #53
Support of weblate is too stupid and translations live own life without sense. Transifex works the best.

[2019-05-09 22:57] vinzv commented on #53
Whatever, I hardly care as long as the strings are available for translation somewhere.

[2019-05-23 03:39] ebruck commented on #71
@terinjokes any progress?

[2019-05-23 04:24] KOT040188 commented on #71
We are all really looking forward to the progress!

[2019-05-26 23:52] terinjokes commented on #71
I'm unlikely to complete this. My interests have moved elsewhere.

[2019-05-27 03:25] KOT040188 commented on #71
Everything always has a bad ending…

[2019-06-09 14:22] ilakast opened #114 "How to enable debug logging?"
Built and installed my own i386 package from source following the instructions. When I run from the newly created menu, I cannot see any icon on the tray. The log shows:

`[2019-06-09 15:15:41.322897] [0xb4a56b80] [info ] (main.cpp:246) - radiotray-ng (v0.2.5-unknown) starting up
[2019-06-09 15:15:41.323159] [0xb4a56b80] [info ] (main.cpp:248) - radiotray-ng/0.2.5 (Linux i686; Ubuntu/18.10 (cosmic

[2019-06-09 14:34] ebruck commented on #114
You may need to run these post install commands:

https://github.com/ebruck/radiotray-ng/blob/master/debian/postinst

[2019-06-09 14:55] ilakast commented on #114
Thank you but no difference.
Is there a command line flag to enable debug logging?

[2019-06-09 14:57] ebruck commented on #114
It's a config setting and described in the readme.

[2019-06-09 15:18] ilakast commented on #114
Thanks again; apologies for missing the config settings. You pointed me to the right direction and I managed to find a workaround.
Oddly, when I run radiotray-ng from the menu, instead of the radiotray icon, I get a "cog" icon; this is a laptop with a pen-enabled screen and I use xvkbd for text entry which has that cog as an icon.
But the config settings (although I could not enable the debug log

[2019-06-09 15:51] #114 closed

[2019-06-15 21:45] ebruck commented on #111
@orschiro if you're able to build and test my "rpm" branch that would be great.

To build you need to do:

[2019-06-16 14:49] orschiro commented on #111
@ebruck absolutely! Thanks for your efforts. Can you help me with this error?

[code]

[2019-06-16 15:31] ebruck commented on #111
You will need a build setup. Please install these packages:

[2019-06-16 18:46] orschiro commented on #111
Getting closer!

How do I resolve the icon theme conflict?

[code]

[2019-06-16 19:13] ebruck commented on #111
I have never seen that. Did you previously do a make install?

[2019-06-16 19:30] orschiro commented on #111
No just what you had instructed me to do.

On Sun 16. Jun 2019 at 21:13, Ed Bruck <notifications@github.com> wrote:

--

-
Sent from orschiro@gmail.com <http://orschi.ro>

[2019-06-16 19:39] ebruck commented on #111
Can you post the rpm here?

[2019-06-16 19:41] orschiro commented on #111
Sure! Here it is:

[radiotray-ng_0.2.6-dev_amd64.zip](https://github.com/ebruck/radiotray-ng/files/3294499/radiotray-ng_0.2.6-dev_amd64.zip)

[2019-06-16 19:45] ebruck commented on #111
Package looks fine.

A bit of searching shows this issue can happen with dnf. Perhaps do a --force on your install of radiotray-ng? I don't know enough to help as to why this is happening.

Some posts that may help your system:
https://www.reddit.com/r/Fedora/comments/6q4yd6/dnf_update_conflicts_that_i_cant_resolve/

[2019-06-16 22:28] #111 closed

[2019-06-16 23:04] #98 closed

[2019-06-17 09:15] orschiro commented on #111
@ebruck got some help from Reddit Fedora:

https://www.reddit.com/r/Fedora/comments/c1kibd/how_can_i_resolve_this_package_conflict_upon/

[2019-06-17 15:44] ebruck commented on #111
@orschiro thanks I will take a look at changing it!

[2019-06-17 15:54] orschiro commented on #111
Thanks Ed!

-
Sent from orschiro@gmail.com <http://orschi.ro>

On Mon, 17 Jun 2019 at 17:49, Ed Bruck <notifications@github.com> wrote:

[2019-06-17 16:06] ebruck commented on #111
I think it's more this issue: https://stackoverflow.com/questions/40096753/cpack-adds-system-directories-to-generated-rpm

I'm not setting CPACK_RPM_EXCLUDE_FROM_AUTO_FILELIST_ADDITION at all.

[2019-06-17 20:50] ebruck commented on #111
Could you please pull down my v0.2.6-dev branch and rebuild the package using the previous cmake command? I think I've got the rpm "spec" right.

[2019-06-18 06:01] orschiro commented on #111
That worked. Amazing. Thank you so much!!

Happy having radiotray-ng now available on Fedora. :-)

[radiotray-ng_0.2.6-dev_amd64.zip](https://github.com/ebruck/radiotray-ng/files/3299965/radiotray-ng_0.2.6-dev_amd64.zip)

[2019-06-18 10:15] gasinvein opened #116 "Avoid relying on lsb_release command"
The `lsb_release` command is not necessarily present in non-Debian-based distros, and even if it exists, it may behave in unexpected way, since there are multiple implementations.
Instead, consider reading the `/etc/os-release` file, or allow the user to define needed variables at build time.

[2019-06-18 15:22] ebruck commented on #116
What sort of issues have you seen with `lsb_release`? Looking at the source code, it is reading `/etc/os-release`. What distro have you run across that did not have it available?

[2019-06-18 15:26] ebruck commented on #116
I have found examples of cmake code to parse the file, but unless this is a real issue that is stopping packaging from working then I'll probably not change it anytime soon.

[2019-06-18 15:33] gasinvein commented on #116
`lsb_release` is available out of box only in Debian-based distros. In Fedora, Arch, Gentoo and probably others else it has to installed manually.
For some environments, like Flatpak SDKs, `lsb_release` is unavailable at all, meaning that your app e.g. can't be packaged as flatpak without patches or hacks.

[2019-06-18 20:27] ebruck commented on #116
I think what I can do in the mean time before cmake has this builtin (https://gitlab.kitware.com/cmake/cmake/issues/18979), is to not fail if `lsb_release` is missing, but rather use default values for `DISTRO`, `CODENAME` & `RELEASE`. These can be overridden on the cmake command line using `-DDISTRO=ubuntu` etc.

[2019-06-22 14:17] Zeioth opened #117 "Feature request: Ability to record the current track in MP3"
Sometimes you listen this really cool song on the radio and you just wanna click the record button to keep it. Even a simple implementation would be valuable.

[2019-06-22 15:50] ebruck commented on #117
Does sound like a neat feature, but it's not really what I had in mind for radiotray-ng. I like to keep the app. as simple as possible, which is why I wrote no plugin system or a built in station editor.

What I can do is expose the playing station's url through a dbus request. Using that you can launch a script to run streamripper.

[2019-06-24 15:30] #117 closed

[2019-06-24 15:47] Zeioth commented on #117
Thank you! I will try it later and report.

[2019-06-26 19:06] #116 closed

[2019-07-05 15:09] gasinvein commented on #116
Seems like building without `lsb_release` is still broken:
[code]

[2019-07-05 15:28] ebruck commented on #116
I'll have a fix soon.

[2019-07-08 08:37] Vascom opened #118 "Python2 dependency"
In src/radiotray-ng/extras/scripts/rt2rtng I see shebang **python2.7**.
It really require python2 or can be launched with python3?

[2019-07-08 14:15] ebruck commented on #118
Thanks for bringing it his up. It's about time to revisit this script with all the EOL of 2.7 looming.
I ran it through 2to3 and it seems to work fine. I'll add this change to the next release.

[2019-07-08 14:16] Vascom commented on #118
Thanks.

[2019-07-08 14:31] #118 closed

[2019-07-09 06:39] Vascom opened #119 "Some warnings at build"
I found some warnings during build for Fedora. Please correct it so radiotray-ng will have clear builds.
[code]
And same in other place. Please see https://kojipkgs.fedoraproject.org//packages/radiotray-ng/0.2.6/2.fc31/data/logs/x86_64/build.log

[2019-07-09 15:12] ebruck commented on #119
There is nothing to correct if you use compiler flags I specify in the cmake file.
 `-Wno-deprecated-declarations` was added for https://github.com/ebruck/radiotray-ng/issues/43

There are several distros still using older versions of jsoncpp, so I can't move to the newer calls just yet.

[2019-07-09 15:15] Vascom commented on #119
OK. It is just warning.

[2019-07-09 15:41] ebruck commented on #119
It's time to move to the new calls. I'm reopening this and will add to the next release.

[2019-07-09 19:35] #119 closed

[2019-07-12 20:52] KOT040188 commented on #71
I still hope ...

[2019-07-14 14:41] sispus opened #120 "Huge icon in pavucontrol streams tab."
Suddenly a huge radiotray icon appeared in pavuconrtol playback tab in Manjaro XFCE. I don't know if it is radiotray or pavucontrol or manjaro issue. My radiotray version is 0.2.6

![Screenshot_2019-07-14_16-56-55](https://user-images.githubusercontent.com/7319557/61185183-e3c53680-a65e-11e9-9a2e-77052589cded.png)

[2019-07-14 15:09] ebruck commented on #120
Perhaps this is still an issue:
https://bugs.freedesktop.org/show_bug.cgi?id=86398

[2019-07-14 20:59] factually commented on #120
I'm also dealing with that problem.
I use Arch linux with kde 5.16.3, so it doesn't seem like it's a XFCE only issue

[2019-07-15 04:55] ebruck commented on #120
Pavucontrol should be resizing icons to fit its interface. I don't know if supplying smaller icons would help much as they look bad at 64x64 vs the 128x128 that I use. If this bothers you then you can change the icon specified in the `radiotray-ng.desktop` file to something smaller. I will however continue investigating this as time permits.

[2019-07-27 12:18] sispus commented on #120
I wrote the issue to the pavucontrol developers.
News on that are here:
https://gitlab.freedesktop.org/pulseaudio/pavucontrol/issues/60#note_197582
(Is it a proper way to give a link, etc.?)

[2019-07-27 15:29] ebruck commented on #120
The comments are correct and I should not be using an absolute path, but it was a quick way to ensure that the white icon with a thin border will be used for the app icon and visible in most desktop environments (dark/light).

[2019-08-02 19:32] al-right opened #122 "[enhancement] Automated change of radio station"
Hi Ed :)

Again a big thanks for a great application!

I have a suggestion for an enhancement - likely a plugin like the Sleep Timer:

**Request for enhancement**
Let Radio Tray NG:
1) change channel automatically at a specific time of day from radio channel A to channel B
2) change back to channel A (from B) when a specific period of time has passed
Basically what is needed is some sort of schedu

[2019-08-02 20:25] Swipe650 commented on #122
Hi, I do similar to this to mute the commercials on talk radio stations. This can all be done easily via a bash script using the radiotray-ng dbus commands.

[2019-08-05 13:47] ebruck commented on #122
To me a scheduler would duplicate and be inferior to using cron which is why I have no plans on adding one. Same as @Swipe650 I use cron to start/stop playing certain stations. Please have a look at the dbus interface. Much more can be done by writing a bash script and examining if needed current playing meta data. There are several scripts under: https://github.com/ebruck/radiotray-ng/tree/master

[2019-08-05 13:47] #122 closed

[2019-10-10 17:49] stucki commented on #42
I think this should be reopened. For me the main quesiton is, how does it behave on a new system?
Just did so and the volume goes up after every channel switch. Do you really expect every user to change their PulseAudio configuration? IMO it's clearly a bug that must be fixed in here!

[2019-10-13 16:06] ebruck commented on #42
@stucki I don't expect anything from any user of radiotray-ng. The bug was specific to how "**flat-volumes**" was configured. If you are using 18.04 then you "shouldn't'" be encountering that configuration.

I've gone over the code and yes radiotray-ng resets the volume level for each station as you change them, but it is using the level saved in the config. Are you by any chance changing the volu

[2019-10-13 23:25] stucki commented on #42
@ebruck My Ubuntu 18.04 is default, I didn't make any changes to the Pulseaudio configuration.

However, yes, I'm using pavucontrol to change my volume. Is there anything wrong with that? After all that's exactly the purpose of it: Changing volumes without having them restored by applications.

What is the purpose behind resetting the volume level for each station as you write above? As far as I c

[2019-10-13 23:49] ebruck commented on #42
Radiotry-ng allows you to adjust the volume using the mouse over the tray icon and through dbus messages. Changing it outside of the app. throws off the internal tracking it is doing, which is why you see a sudden jump to the default of 100%. You can see the same behaviour in apps like Rhythmbox, but the difference is they don't reset it to last saved value on startup.

Anyways, I came up with a f

[2019-10-14 00:01] stucki commented on #42
@ebruck Thanks a lot for your feedback. Sounds great that there is a fix to this problem now!

What I don't understand why you're doing auto-detection now and not just leave the volume untouched until the user actively changes it (by scrolling over the icon as you mentioned it, or just using any external program). What is this internal tracking that you just mentioned?

[2019-10-14 00:17] ebruck commented on #42
Because the volume level I display in the menu will be wrong and what is saved to the config will also be incorrect. Most people don't use with pavucontrol and use the built in volume control.

[2019-10-14 00:19] stucki commented on #42
@ebruck Thanks for the clarification!

[2019-10-20 21:45] ebruck commented on #120
Apparently fixed in pavucontrol 4.0

[2019-10-20 21:45] #120 closed

[2019-10-29 18:30] rpcmaringa opened #124 "Support HLS"
Please support HLS, for example - https://medias.sgr.globo.com/hls/aCBNSP/aCBNSP.m3u8.

Thank you.

[2019-10-29 18:42] ebruck commented on #124
HLS/m3u8 support was added a while ago.
This particular url is not working for some reason:
[code]
It just sits there. I don't know what more I can do if gstreamer can't play it. Sorry.

[2019-10-29 18:51] ebruck commented on #124
To verify try this which works in radiotray-ng as well.

`$ gst-play-1.0 http://c11.prod.playlists.ihrhls.com/709/playlist.m3u8`

[2019-10-30 23:25] #124 closed

[2019-11-14 05:31] oddmean commented on #53
I can help with Russian translation. How could I do it?

[2020-01-28 13:32] mxmilkb opened #125 "Option for audio fade in/out?"
Would make for a nicer experience. Maybe the user could set the time of the fade also?

[2020-01-28 14:59] jpverrue opened #126 "radiotray-ng on opensuse tumbleweed"
I compiled radiotray-ng on opensuse tumbleweed. Here is the list of dependencies I had to solve.
[code]
The compilation of radiotray-ng went well, but the compilation of the bookmark editor didn't succeed. The errors are the following:
[code]

I hope this data can help you

[2020-01-28 16:56] ebruck commented on #126
The editor has never been compiled against wxGTK3-3_2-devel.

You can try the following:

- Modify the cmake file compiler line to ignore deprecation warnings
- Remove wxGTK3-3_2 and install wxGTK3-3_0 (not sure of the version exactly as I don't use Suse)

[2020-02-09 12:49] al-right commented on #125
You mean when starting playback and also when switching from radio channel A to B?
I like the idea :)

[2020-02-10 21:04] ebruck commented on #125
I'm sorry the features proposed here are far beyond what radiotray-ng was intended to be and are things I don't find very useful. Most will require a major rewrite of the code base to support.

[2020-02-10 21:04] #125 closed

[2020-02-10 21:05] #126 closed

[2020-02-19 08:16] saltymedic opened #127 "not loading"
Radio tray was working great. Now when I try to load it I get:

`radiotray-ng: error while loading shared libraries: libboost_filesystem.so.1.71.0: cannot open shared object file: No such file or directory`

[2020-02-19 08:31] Swipe650 commented on #127
You must have had some libraries updated. Assuming you compiled this from source, recompiling radiotray-ng should fix it.

[2020-02-19 23:02] saltymedic commented on #127
That fixed it. Thank you for the easy solution! :)

[2020-02-19 23:02] #127 closed

[2020-02-21 22:14] invexx opened #128 "Feature request..."
It would be great if starting, stopping and changing radio streams wasn't so abrupt. I think it's called in media players soft on and soft off.

[2020-02-28 23:21] ebruck commented on #128
This is a dupe of #125

[2020-02-28 23:21] #128 closed

[2020-02-29 21:47] killerhippy commented on #93
libindicator3-dev soved my case.

[2020-03-25 11:55] digitalethics opened #129 "List radiotray-ng on LGTM for automated code review and security analysis"
Could you list radiotray-ng on https://lgtm.com/ for automated code review and security analysis? As I see it, this would have two major benefits. End users as well as distribution maintainers will be able to quickly assess the code quality in form of an automated code quality batch (ideally rated A+) displayed on GitHub, and secondly, you may prevent bugs from appearing in your project by already

[2020-04-11 13:38] AlphaJack opened #130 "Allow HTTP-Basic authentication or whitelist website certificate"
Is it possible to add support for HTTP-Basic protected streams?
Alternatively, can we have an option to whitelist the website certificate if the domain name mismatches, like VLC does?
My radio streams are reachable from
- https://example.com/radio/ reachable from everywhere, requires HTTP-Basic
- https://10.0.0.1/radio/ reachable from VPN, no further authentication needed

In the latter case I wou

[2020-04-11 18:17] ebruck commented on #130
@AlphaJack have you tried changing the station URL like so?

https://admin:123456@example.com/radio/

I've decided not to ignore bad or self signed certs.
See https://github.com/ebruck/radiotray-ng/issues/95#issuecomment-450586709

[2020-04-11 20:17] AlphaJack commented on #130
I've tried, but it doesn't work:
[code]

Entering that URL in a browser allows me to login and listen directly to the stream

[2020-04-11 20:23] ebruck commented on #130
@AlphaJack What version of radiotray-ng are you using?
Do you have a real station behind basic auth that I can test against?

My output is a bit different:

 [info ] (radiotray_ng.cpp:499) - downloading: root, Test, https://username:password@example.com/radio/mp3
 [debug] (notification.cpp:63) - notify: Connecting, Radiotray-NG, /usr/share/icons/hicolor/256x256/apps/radiotray-ng-notification.png

[2020-04-11 20:26] AlphaJack commented on #130
v0.2.7
Can I DM you somehow? I can provide you a real username to debug further

[2020-04-11 20:28] ebruck commented on #130
@AlphaJack you can reach me at the email listed in the authors file.

[2020-04-12 17:42] AlphaJack commented on #130
The problem was the outdated `libcurl` in my repo (v7.58). Compiling the latest version (v7.69) from source solved the issue, now I can login with https://admin:123456@example.com/radio/
Thanks again @ebruck for the support

[2020-04-12 17:42] #130 closed

[2020-04-12 18:51] #129 closed

[2020-04-15 07:54] paravoid opened #131 "Support MATE DE's media keys interface"
The MATE desktop environment is a maintained and modernized (GTK3 etc.) fork of GNOME 2. It's fairly popular, at least as far Linux desktop environments go :)

Its media keys interface is the same as GNOME's, but in a different D-Bus path. radiotray supported this with the MateMediaKeysPlugin, that differed from the GnomeMediaKeysPlugin like so:
[code]

I see radiotray-ng has native support for GN

[2020-04-15 20:06] bonelifer commented on #37
Has iheart changed something, now getting "text=" being displayed instead.

[2020-04-15 20:10] bonelifer opened #132 "iheart currently playing stopped working correctly"
OLD issue: https://github.com/ebruck/radiotray-ng/issues/37

Has iheart changed something, it now displays "text="?

[2020-04-15 20:29] ebruck commented on #132
@bonelifer just tried the two stations listed in the old ticket and they display fine. Can you provide a screenshot and a URL of what is not working for you?

[2020-04-15 20:42] bonelifer commented on #132
KSSN: https://stream.revma.ihrhls.com/zc105

![Screenshot_2020-04-15_15-41-47](https://user-images.githubusercontent.com/121736/79386383-ab28f500-7f2f-11ea-9728-faa134eba6f2.png)

[2020-04-15 23:56] ebruck commented on #132
They are doubling up the "tag" text= for some reason:

"text=\"text=\"Spot Block End\" amgTrackId=\"9876543\"\" length=\"00:00:00\""

[2020-04-16 00:04] ebruck commented on #132
Not all stations are doing this.
http://c10icyelb.prod.playlists.ihrhls.com/101_icy

[2020-04-16 00:18] ebruck commented on #132
@bonelifer do you know of any other stations that do this? If it's just this one then it's probably a bug that they may fix eventually.

[2020-04-16 00:53] bonelifer commented on #132
No, but I'll try some others tomorrow. Screwed up my install and had to re-install ubuntu. Just got around to compiling and installing RadioTray.

[2020-04-16 19:15] thomas-mc-work commented on #71
Maybe you can elevate some volunteers to project members?

[2020-04-16 19:16] terinjokes commented on #71
You don't need to be a project member to contribute?

[2020-04-30 19:07] Lonniebiz opened #133 "Missing Default List of Streaming Radio Stations in Kubuntu 20.04"
In Kubuntu 20.04, I installed RadioTray like this:
`snap install --edge radiotray-ng`

After clicking the radiotray-ng icon, from the system tray, it didn't list any streaming radio stations.

Is this intentional? If so, you should consider listing some defaults streams like did `sudo apt install radiotray` in versions of RadioTray prior to Ubuntu/Kubuntu 20.04.

[2020-05-02 10:04] al-right commented on #133
I think you should reach out to the publisher of the snap (Dmitry Afanasiev) :
https://snapcraft.io/install/radiotray-ng/ubuntu
, and report the problem to him. The version that Dmitry has in store is 0.2.7 (which works fine in Ubuntu 18.04 using Ed's deb-build - see below. I updated my laptop to Ubuntu MATE 20.04 yesterday and it continues to use version 0.2.**6** just fine.)

As soon as Ed relea

[2020-05-03 04:37] Lonniebiz commented on #133
@al-right : I never know how to give feedback on these snaps. Snapcraft.io really should make a better effort at making it clear where to submit issues for each snap in the repository. You shouldn't be able to even submit a snap without indicating where to submit issues for them, in my opinion.

I'll have to check out the PPA. It is a shame they couldn't get radiotray-ng into the default repositor

[2020-05-03 10:03] al-right commented on #133
@Lonniebiz Yeah, snaps look polished in one way, but the information seems fragmented to other places. Must say I haven't tried to search for snap authors before, but...

I think I might have found the author - please take a look here:
https://github.com/dafanasiev/radiotray-ng-snap
Contact details to the left of this page: https://github.com/dafanasiev

Cheers :)

[2020-05-05 17:46] tassoman commented on #53
I can put in Italian language if you're interested :it:

[2020-05-05 17:49] tassoman opened #134 "Any chance for a Debian distribution?"
[Looks like old radiotray project is getting kicked out of Debian](http://forums.debian.net/viewtopic.php?f=6&t=146154)...
Maybe it's time to switch to a New Generation of Radiotray?
I have no clue about how it could happen. But I hope.

[2020-05-08 22:41] electricduck opened #135 "Subfolder support?"
In Radiotray, we were able to add folders (or groups) as children to other folders. Upon converting my old bookmarks XML to NG's JSON file, I noticed there is no support for these. Any chance this could be added?

[2020-05-09 03:27] ebruck commented on #135
This is not something I plan to add. Please see #8
Most desktop environments "barely" support appindicators and submenus leave much to be desired.

[2020-05-09 03:27] #135 closed

[2020-05-09 03:28] ebruck commented on #134
Please file a bug with your favourite distro. I provide the ability to create a debian package in the meantime. Sorry but this means you have to build from source.

[2020-05-09 03:28] #134 closed

[2020-05-09 19:31] ebruck commented on #133
@Lonniebiz please file a bug at: https://github.com/dafanasiev/radiotray-ng-snap

[2020-05-09 19:31] #133 closed

[2020-05-09 21:41] Lonniebiz commented on #133
This issue has been moved here: https://github.com/dafanasiev/radiotray-ng-snap/issues/1

[2020-05-13 20:26] pjz opened #136 "dbus toggle_play ?"
I have a script that I used with the old radiotray that did, in part:
[code]
which I then hooked up to the right media keys via my window manager (i3).
Any chance you could add a `toggle_play` (or `togglePlay` or something) DBUS target to radioplay-ng so that I can replicate this?  Thanks!

[2020-05-13 20:33] ebruck commented on #136
Please see the readme for available dbus commands.

    get_config
    get_player_state
    play
    play_station 'group' 'station'
    play_url 'url'
    previous_station
    next_station
    reload_bookmarks
    set_volume 'level'
    volume_down
    volume_up
    mute
    stop
    quit

[2020-05-13 20:33] #136 closed

[2020-05-14 18:11] pjz commented on #136
I'm aware.  I meant it to be a feature request to restore feature parity to the original radiotry.  Sorry if that was unclear.

[2020-05-14 18:13] ebruck commented on #136
"play" does what you want unless I'm mistaken.

[2020-05-14 18:17] pjz commented on #136
'toggle' means 'on if off, off if on'; I presume (wrongly?) that 'play' was just 'turn on'.  Admittedly 'toggle' is a convenience for '_get status_; if playing: _stop_ else: _play_', but it's so common that it's useful.

[2020-05-14 19:42] pjz commented on #136
ah, fair enough; just tested and 'play' does indeed toggle.  Sorry to bug you.

[2020-05-17 19:45] ebruck commented on #131
@paravoid could you please test my v0.2.8-dev branch?

[2020-05-17 22:08] #131 closed

[2020-05-22 16:19] ebruck commented on #132
@bonelifer looks like the zc105 stream is being "fixed".
I'm hesitant to change any code if it's just this stream, which is betting "better".

[2020-05-22 19:28] bonelifer commented on #132
No problem. Things piled up and I forgot to check those out. The old ICY linked no longer works, but the new one does, so I assume they were probably in the process of changing out infrastructure when that happened. Thanks for taking on Radiotray and adding a much easier bookmark feature. Look forward to pulling out my radio.sh compile script and installing future fixes-etc. If you think this is "

[2020-05-22 19:28] #132 closed

[2020-05-22 22:57] ebruck commented on #105
@kalligator I was playing around with Elementary OS 5.1 today and stumbled on a workaround for the submenus not being displayed. After Radiotray-NG loads, open up a terminal and run this command.

dbus-send --session --print-reply=literal --type=method_call --dest=com.github.radiotray_ng /com/github/radiotray_ng com.github.radiotray_ng.reload_bookmarks

[2020-05-23 05:30] kalligator commented on #105
Nice catch! Out of learning curiosity, where did you spot what was needed?

There's been a few days where I discovered an [updated version](https://github.com/Lafydev/wingpanel-indicator-ayatana) of the wingpanel-indicator-ayatana package that included among other commits fixes for the submenu issue globally. So all apps work properly.

One minor annoyance is that there's an arbitrary cap of the i

[2020-05-26 18:17] Kwaskoff opened #137 "[xfce:xubuntu]:don't show in tray"
radiotray-ng installed by deb package from github release and it's not show in tray

this command $ radiotray-ng --play
show me just error pop up window

my OS installed from http://ftp.uni-kl.de/pub/linux/ubuntu-dvd/xubuntu/releases/20.04/release/xubuntu-20.04-desktop-amd64.iso
Kernel: Linux 5.4.0-31-generic
Radiotray-NG: v0.2.7 (v0.2.7-1-gfa0ea63)

[2020-05-26 18:19] ebruck commented on #137
Did you run: `sudo apt-get install -f `to ensure all dependencies are installed?

[2020-05-27 12:36] ebruck commented on #137
There doesn't seem to be a problem running radiotray-ng on Xubuntu 20.04.

![image](https://user-images.githubusercontent.com/1168556/83019443-cd586d00-9fdb-11ea-8660-2e9e67d41731.png)

[2020-05-28 12:05] iPublicis opened #138 "Can't install DEB on Ubuntu 20.04"
When installing the package with `sudo dpkg -i` it throws a lot of errors:

``pkg: radiotray-ng: problemas com dependências, mas a configurar à mesma conforme pedido:
 radiotray-ng depende de libjsoncpp1; no entanto:
  O pacote libjsoncpp1 não está instalado.
 radiotray-ng depende de libxdg-basedir1; no entanto:
  O pacote libxdg-basedir1 não está instalado.
 radiotray-ng depende de libboost-syste

[2020-05-28 13:26] ebruck commented on #138
You do need to execute that command if installing from the command line.

[2020-05-28 13:26] #138 closed

[2020-05-28 16:42] #137 closed

[2020-06-03 12:11] nejtr0n opened #139 "Plugins support"
Any plugins support like old radiotray? For example history plugin.

[2020-06-04 03:16] ebruck commented on #139
I don't plan to ever add a plugin system.

[2020-06-04 03:16] #139 closed

[2020-06-15 03:13] blshkv opened #140 "Files built without respecting CFLAGS"
Could you please fix CMakeLists.txt or wherever appropriate to address this:

 * QA Notice: Files built without respecting CFLAGS have been detected
 *  Please include the following list of files in your report:
 * /usr/bin/rtng-bookmark-editor
 * /usr/bin/radiotray-ng

Thanks

[2020-06-19 00:51] ebruck commented on #140
@blshkv radiotray-ng is written in C++ and CXXFLAGS should be picked up by cmake when generating the build files.

[2020-06-19 00:57] blshkv commented on #140
The problem is that the current cmake does not respect global flags currenly.
You should fix using something like this:
[code]

[2020-06-20 03:48] #140 closed

[2020-06-20 03:58] blshkv commented on #140
Thanks 👌

[2020-06-20 08:44] braoult opened #142 "[feature request] Pause and buffering"
It would be nice if there was a pause button, which would buffer the incoming feed.

Use cases:
- I have something to do while listening to a radio
- I want to buffer a radio, and switch to another one

This would need a "max buffer size" (global or per feed) to avoid filling the disk.

[2020-07-03 20:55] msegmx opened #143 "[Feature Request] Save songs and history"
After a song has finished, please give the option to save the song as an mp3 or ogg file. (Shortwave has this feature)

Also, please make the history viewable as a list. The original Radio Tray had this feature as a plugin.

Keep up the good work!

[2020-07-03 21:03] msegmx opened #144 "[Feature Request] Reduce icon size"
I've installed Radio Tray NG on Linux Mint 20 Cinnamon, it works great.

In LM20, they fixed the system tray and made all icons look similar in size and color.

Radio Tray NG 's icon looks good but is way bigger than LM20's default icons.

<a href="https://imgbb.com/"><img src="https://i.ibb.co/X7qHjSK/systemtray.png" alt="systemtray" border="0" /></a>

Keep up the good work!

[2020-07-04 02:01] ebruck commented on #143
Please see #139

[2020-07-04 02:01] #143 closed

[2020-07-04 02:04] msegmx opened #145 "[Feature Request] Save songs"
After a song has finished, please give the option to save the song as an mp3 or ogg file. (Shortwave has this feature)

Keep up the good work!

[2020-07-05 16:26] ebruck commented on #144
The AppIndicator support a DE provides should be resizing any icon it receives to match its "standard" size. The alternative is to create new Mint theme, which I'm sorry I have no time for nor use that distro.

You can also override the icon loaded by resizing them yourself and placing them in a known location.
Add these config entries and point them to your newly resized images.

[code]

[2020-07-05 16:26] #144 closed

[2020-07-05 23:50] ebruck commented on #145
Sorry, but this is far beyond what radiotray-ng was ever intended to do.

[2020-07-05 23:50] #145 closed

[2020-07-05 23:52] ebruck commented on #142
See #145 response

[2020-07-05 23:52] #142 closed

[2020-07-16 07:31] WuShufei opened #146 "CMake can't find curl in Debian?"
I'm trying to build to rolling Debian with MATE.  I've tried several things, but for some reason it won't cmake.  I have all the dependencies that I can tell.
``
└──╼ $cmake . -DCMAKE_BUILD_TYPE=Release
-- The CXX compiler identification is GNU 9.3.0
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detect

[2020-07-16 08:06] bonelifer commented on #146
It's not looking for the binary, it's looking for the curl dev lib package: libcurl4-openssl-dev  The list on the front page is for Ubuntu, but you should be able to use it to make sure you have what you need installed.  Not that you need it but here github gist with the shell script I use to build radiotray:
[build radiotray-ng](https://gist.github.com/bonelifer/e17bcea920d3bb2b8c211ed20f48f33d)

[2020-07-25 21:49] #146 closed

[2020-07-29 11:42] Lonniebiz opened #147 "Snap Package Install Produces a Blank Icon on the System Tray in Kubuntu 20.04"
In Kubuntu 20.04, I installed radio-tray-ng like this:
sudo snap install radiotray-ng --edge

This creates a blank System Tray icon that would be completely invisible if not for the gap of space it adds between two other System Tray icons.

If you right-click on this "blank space" you do get a context menu from radio-tray-ng, however it is [missing all the categories and streams](https://github.co

[2020-07-29 11:50] Lonniebiz opened #148 "Context Menu is Missing All Default Categories and Streams in Kubuntu 20.04 via Snap Package Installation"
In Kubuntu 20.04, I installed radio-tray-ng like this:
sudo snap install radiotray-ng --edge

Upon right-clicking on the [Blank System Tray icon](https://github.com/ebruck/radiotray-ng/issues/147), although you do indeed see a context menu, **it is missing stream categories and provides no streams that you can click on to play.**

Please at least provide the default categories and streams that the

[2020-08-01 00:19] ebruck commented on #147
I don't provide snap packages and you've already filed an issue like this before. You were pointed to the maintainer of the snap. Please file a bug at: https://github.com/dafanasiev/radiotray-ng-snap

[2020-08-01 00:19] #147 closed

[2020-08-01 00:20] ebruck commented on #148
See #147

[2020-08-01 00:20] #148 closed

[2020-08-01 02:02] Lonniebiz commented on #147
Sorry. I completely forgot about it and had this project bookmarked for some reason. Thank you.

[2020-08-04 12:50] felipefm commented on #53
I make myself available, to translate into Brazilian Portuguese

[2020-08-12 22:38] Lonniebiz commented on #112
Go to this page:
https://snapcraft.io/radiotray-ng

Now, click on the link that says "Contact Dmitry Afanasiev".

Instead of allowing you to contact Dmitry Afanasiev, it goes to:
https://github.com/ebruck/radiotray-ng

[2020-08-12 22:42] Lonniebiz opened #149 "Snapcraft.io RadioTray-NG Points Here instead of to Dmitry Afanasiev"
Go to this page:
https://snapcraft.io/radiotray-ng

Now, click on the link that says "Developer website" or the one that says "Contact Dmitry Afanasiev".

Instead of going to the correct "Developer website" or allowing you to "Contact Dmitry Afanasiev", it goes to:
https://github.com/ebruck/radiotray-ng

I realize this isn't a bug in your project, but so far I have not succeeded in getting them to

[2020-08-13 05:19] dafanasiev commented on #149
This because snap package is owned by me (my snapcrafe account) (WIP, not finished): https://github.com/dafanasiev/radiotray-ng-snap . Now snap is private. I will try to fix snap and give @ebruck full rights afap.

[2020-08-13 08:44] Lonniebiz commented on #149
@dafanasiev Fixing it would be appreciated by me, but I'm not sure that you should point [this page](https://snapcraft.io/radiotray-ng) to ebruck's project. You see, I've submitted issues to ebruck's project regarding your snap package and he kindly told me it was the wrong place to submit issues regarding that snap.

Perhaps you can still give credit to ebruck as an upstream resource, but also ma

[2020-08-13 08:59] dafanasiev commented on #149
@Lonniebiz - my mistake now fixed, isn't it? So, you can close this issue.

[2020-08-13 09:16] Lonniebiz commented on #149
I guess so:
![radiotray](https://user-images.githubusercontent.com/151919/90116748-91e85780-dd1b-11ea-8362-d1e59c764d3e.png)

If you ultimately decided to create another snap. I'd like to try it. Thanks.

[2020-08-13 09:38] #149 closed

[2020-08-21 13:24] enigma131 opened #150 "Failed install on CentOS 8-2004"
Hi,
There is no Flatpak nor install package for CentOS and i like to have radio when i work :)
So I've decided to compile source by following the Fedora method.
In required package there was missing on CentOS 8 : libxdg-basedir-devel
I got source from here : https://pkgs.dyn.su/el8/base/SRPMS/libxdg-basedir-1.2.0-22.el8.src.rpm
I have compile it and libxdg-basedir.so.1 is in /usr/lib64 and all .h

[2020-09-12 21:15] Skukkuk opened #151 "Solus OS - Bookmark editor doesn't save"
Hi,

I'm trying radiotray-ng on Solus and tried to add new radio stations. The first stations/groups I added where only visible after system restart. Then I added several stations and saved a *.json file to keep them, but the system/player doesn't load the stations. On every restart I do have the old incomplete list. Even when I load the before saved list, I do not get the option to save it to the

[2020-09-17 03:53] ebruck commented on #151
Did you change your "bookmarks" entry in "~/.config/radiotray-ng/radiotray-ng.json" to point to your new file?
If not then first exit radiotray-ng and update the entry.

[2020-09-17 08:48] Skukkuk commented on #151
@ebruck Thx for pointing me into this direction. Never was able to find the config file. Now I updated it and restarted radiotray-ng, but it is still the old bookmark list.

Here is my entry:
[code]
Unfortunately the former entry is restored every time I start or end radiotray-ng.

[2020-09-17 16:18] ebruck commented on #151
You can't comment out entries in a JSON file. You have to either rename the key or delete it.
What is happening is that radiotray-ng is unable to parse the file which causes it to recreate it on shutdown.

[2020-09-17 17:02] sispus opened #152 "App-Level Volume Adjustment Using Mouse-Scroll-Wheel in KDE"
In Manjaro KDE (KDE 5.73.0 / Plasma 5.19.5) this nice feature is missing. This is related, i think, with #112
I'm not sure if it is the right place to complain or not.
Is there a way to fix it?

[2020-09-17 18:13] Skukkuk commented on #151
Ok, understood. Now it works. Many thanks for supporting me @ebruck

Question: why so complicated? Wouldn't it be more conveniant to have a failsave.json if something went wrong and save your radio stations directly into bookmarks.json? Just my view on it.

[2020-09-17 19:08] #151 closed

[2020-09-17 20:39] sispus opened #153 "notification on menu stuck to the first song and station played"
Hi,
The menu shows only the first station and song that I play and never changes. Turn off and on commands works if I click on it, however the text, for example as "Turn off WFMU", never changes. Notifications work by the way.
I'm using Manjaro KDE  (KDE 5.73.0 / Plasma 5.19.5)

[2020-09-17 20:46] ebruck commented on #152
I've encountered these issue before with KDE and its appindicator support.
There are other issues such as line wrapped text is not rendered correctly in a menu. Please file a bug with the KDE appindicator maintainers. I have looked into this in the past and there is nothing I can do.

[2020-09-17 20:46] #152 closed

[2020-09-17 20:47] ebruck commented on #153
Same issue as #152

[2020-09-17 20:47] #153 closed

[2020-09-17 21:17] ebruck commented on #150
Can you please try installing **libxdg-basedir-devel-1.2.0-22.el8.x86_64.rpm** instead?

https://centos.pkgs.org/8/raven-x86_64/libxdg-basedir-devel-1.2.0-22.el8.x86_64.rpm.html

[2020-09-18 12:21] enigma131 commented on #150
Hi,
problem is not to get the necessary rmp, but to install it:
sudo rpm -i libxdg-basedir-devel-1.2.0-22.el8.x86_64.rpm
warning: libxdg-basedir-devel-1.2.0-22.el8.x86_64.rpm: Header V4 RSA/SHA256 Signature, key ID 2dcd03a2: NOKEY
error: Failed dependencies:
	libxdg-basedir = 1.2.0-22.el8 is needed by libxdg-basedir-devel-1.2.0-22.el8.x86_64
	libxdg-basedir.so.1()(64bit) is needed by libxdg-basedi

[2020-10-07 16:23] lesar opened #154 "[FEATURE REQUEST] Package in Ubuntu 20.04 on rpi4 arch aarch64"
I have an Ubuntu 20.04 64bit and ubuntu-desktop on a rpi 4b 8G
I like tu install radiotray-ng
can you add aarch64 architecture on deb package?

I have ask for similar request on this project:
[cherrytree-issue](https://github.com/giuspen/cherrytree/issues/1180)
I do not know how have they do it but @giuspen have do it in few time so I think that is not a big problem to solve.

best regards,
Leonar

[2020-10-08 06:54] AquaMCU commented on #154
I just tried to build a package for rasbian. Unfortunately your build environment just compiles i386 code.

I think, the 1st step to roll out this software on RPI is to change the build environment. The distributions will pick it up and add it to their repos. But if the code does not compile they will not.

[2020-10-08 10:29] lesar commented on #154
I do not know if is useful but I found this:
[gcc-aarch64-linux-gnu](https://ubuntu.pkgs.org/20.04/ubuntu-main-amd64/gcc-aarch64-linux-gnu_9.3.0-1ubuntu2_amd64.deb.html)

sudo apt-get install -y gcc-aarch64-linux-gnu

[2020-10-08 11:57] AquaMCU commented on #154
I am compiling the code on a raspberry pi. Nevertheless, when I install the package, I get

dpkg: Fehler beim Bearbeiten des Archivs radiotray-ng_0.2.7_raspbian_10_armhf.deb (--install):
 Paket-Architektur (i386) passt nicht zum System (armhf)
Fehler traten auf beim Bearbeiten von:
 radiotray-ng_0.2.7_raspbian_10_armhf.deb

When I start the binary in the package manually, it seems to work. So I th

[2020-10-09 18:01] AquaMCU commented on #154
In order to get the build up an running, we need to change this, so that armhf is detected and selected:
if (${CMAKE_SIZEOF_VOID_P} EQUAL 4)
        set(CPACK_SYSTEM_NAME "i386")
    else()
        if (DISTRIBUTOR_ID STREQUAL "fedora")
            set(CPACK_SYSTEM_NAME "x86_64")
        else()
            set(CPACK_SYSTEM_NAME "amd64")
        endif()
    endif()

[2020-10-11 16:16] AquaMCU opened #156 "Contact Debian for inclusion"
Since we have fixed now the build for Raspberry, it would be nice to get this software into the debian repositories, so it will end up in a ton of distributions like Ubuntu and Raspberry OS.

[2020-10-12 16:42] ebruck commented on #156
There is already a request for Ubuntu: https://bugs.launchpad.net/ubuntu/+source/radiotray/+bug/1745829
Please file one with Debian if you'd like it included there.

[2020-10-12 16:42] #156 closed

[2020-10-16 12:02] enigma131 opened #157 "Left click on tray icon"
Hi,
Installed on Linux Mint 20 via Ubuntu 20.04 's  .deb. I have Cinnamon 4.6.7 installed.
On this PC, when I left mouse click on tray icon, i have same menu as right click.
On previous PC with Cinnamon LM 19.3, when I left click on tray icon it toggles on/off playing last channel. I expected same on LM 20 but why it didn't work as previous?

[2020-10-16 20:17] ebruck commented on #157
There is no special menu for toggling on/off when clicking the left button. Radiotray-ng has always been this way with both left/right showing the same full menu. It's been a while, but could you be mixing the behaviour up with the original python based radiotray application?

[2020-10-16 20:19] ebruck commented on #150
I'm sorry I don't have anymore advice regarding centos. It's not one of the platforms I support.

[2020-10-16 20:19] #150 closed

[2020-10-17 06:51] enigma131 commented on #157
Yes on old PC I had a older Radiotray installed on it but actually the same as on this PC (-ng 0.2.7 version ). Visibly old installation interact with yours ?
I found the feature interesant, I mean toggle On/Off whit 1 click. Could it be restored and how?

An other request what would be great:
On Gnome desktops i have try :  https://extensions.gnome.org/extension/836/internet-radio/
This one have

[2020-10-17 15:19] ebruck commented on #157
You can toggle on/off by middle clicking on the icon.

[2020-10-17 21:43] enigma131 commented on #157
No it's not a bug from Linux mint. All theses tricks are impossible on my laptop because no real mouse but touchpad.

[2020-10-17 21:59] ebruck commented on #157
I'm sorry then there's nothing more I can do.

[2020-10-17 21:59] #157 closed

[2020-10-17 22:12] enigma131 commented on #157
Shame.

[2020-10-17 23:46] ebruck commented on #157
All touchpads should be able to send middle clicks and scroll events. I don't know what more I can do when I support everything you want?

[2020-10-18 06:16] enigma131 commented on #157
Hi. Ok forget sound volume control. It was a feature I've seen on competitor application (it is done to have separate volume control of application)
My request was to have left click to toggle as i have it on other computer, it is a little funny to have same effect for left and right click, but it's my personal opinion and I haven't see that elsewhere. Forget If you don't want to consider it.

[2020-10-18 15:44] ebruck commented on #157
This has been discussed before.
Appindicators do not allow you to differentiate between left/right clicks. https://github.com/ebruck/radiotray-ng/issues/25#issuecomment-329048268

[2020-10-18 16:55] enigma131 commented on #157
Thanks for the link.
The thing I didn't understand is why it is working on PC A and not on PC B . Linux Mint cinnamon in both cases (not same revision of cinnamon of course). Very strange this situation

[2020-10-19 18:07] cdysthe opened #158 "No song title data for ogg streams that offers it."
I like to use OGG streams whenever I can. I listen a lot to Radio Paradise who specifically offers ogg streams with song title data. This stream supposedly offer such data:

[http://stream-dc1.radioparadise.com/rp_96m.ogg](url)

but there's no data showing when playing in Radiotray-NG. is this a stream or player problem? I get song info for both aac and mp3 streams.

[2020-10-20 02:24] ebruck commented on #158
I've added more debug out and am seeing stream data with Ubuntu 20.04:
[code]
There could of been an issue with the stream.
It certainly isn't sending them often as other types of streams.

[2020-10-23 02:25] ebruck commented on #158
This may be a bug with gstreamer.
Another app. seems to have the same issue: https://github.com/clementine-player/Clementine/issues/5114
Please choose another stream.

[2020-10-25 17:53] r-da opened #159 "Not enough space to read radio information data"
Hi,
beautiful program, with a small issue.
See the second line, below "Turn Off...": not enough space to read the full text. Could you please fix it?

![image](https://user-images.githubusercontent.com/25054264/97114824-1d566f80-16f3-11eb-98db-5f95ee12a5be.png)

Thanks in advance.

[2020-10-25 18:26] ebruck commented on #159
Are you using Plasma/QT?
This is a limitation of the way menus are rendered. https://github.com/ebruck/radiotray-ng/issues/68

[2020-10-25 19:52] r-da commented on #159
Yes ... I am using KDE with Ubuntu 20.04 (therefore, I am using Qt 5.12.5).
Since 2018 still a limitation... what a pity.

[2020-10-25 19:52] #159 closed

[2020-11-06 16:05] KayTaneJupiter opened #160 "Doesn't handle AAC streams well"
Doesn't seem to handle AAC streams well

Examples:

https://somafm.com/groovesalad64.pls

http://totalbroadcast.net/zenith/zenith32.pls

[2020-11-11 19:25] ebruck commented on #160
Both streams play fine for me. What issues are you having?

[2020-11-11 19:25] #158 closed

[2020-11-11 21:49] KayTaneJupiter commented on #160
"Internal data stream error"

[2020-11-11 22:45] ebruck commented on #160
Try this:

`$ gst-play-1.0 "http://ice6.somafm.com/groovesalad-64-aac"`

If this doesn't play then you need to install more codecs.
How did you install radiotray-ng and what version of Linux are you using?

[2020-11-11 23:11] KayTaneJupiter commented on #160
Nope. Works in Firefox and VLC but not radiotray-ng.

What additional codecs are required?

Using OpenSUSE Tumbleweed, installed from repos.

[2020-11-11 23:12] ebruck commented on #160
Did you run that command?

[2020-11-11 23:13] KayTaneJupiter commented on #160
Ooops. Sorry. Didn't realize that's what it was.

`$ gst-play-1.0 "http://ice6.somafm.com/groovesalad-64-aac"
Press 'k' to see a list of keyboard shortcuts.
Now playing http://ice6.somafm.com/groovesalad-64-aac
Prerolling...
WARNING No decoder available for type 'audio/mpeg, framed=(boolean)true, mpegversion=(int)2, level=(string)1, profile=(string)lc, rate=(int)22050, channels=(int)2, stream-form

[2020-11-11 23:14] ebruck commented on #160
Ensure that these are installed.  The naming may be different under OpenSUSE:

 gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad, gstreamer1.0-plugins-ugly

[2020-11-12 01:54] KayTaneJupiter commented on #160
They are simply "gstreamer-plugs-..." in OpenSUSE. However, even with them all installed (they were previously) the stream does not play. I suspect an MPEG2 licensing / patent problem. SUSE's lawyers are particular touchy about that.

Ironically, the MP3 streams work fine. I'll just use those.

[2020-11-12 02:19] #160 closed

[2020-11-18 18:12] lexmarko opened #161 "non-continuous playback"
Hello guys,

I have been using the program with satisfaction for a long time, thank you.
I'm using Radiotray NG 0.2.7 ubuntu package under debian 10.
I have wired internet access, but lately, playback has been interrupted many times, sometimes not even restarting just by turning it on manually.
The sample radiotray-ng.json file contains a buffer entry, however not in my own file, in fact, if I typ

[2020-11-20 05:38] ebruck commented on #161
You must not edit the config file while radiotray-ng is running.

[2020-11-20 17:29] lexmarko commented on #161
Thanks, so I can already change the buffering time and size, it helped.

[2020-11-20 17:29] #161 closed

[2021-01-22 14:03] das-nervt opened #162 "Volume control with Mousewheel"
using Manjaro 20.2 XFCE installed `radiotray-ng 0.2.7-1`
after update to xfce 4.16 I can't adjust playback volume using mouse over the tray icon.
Using pavucontrol allows volume changes.

I tried to check DBUS and I found no messages coming from mousewheel (over the tray icon).
Only when I press the wheel and do simultaneous scrolling, then I got messages and also volume changes.
`mc  1611323352.4

[2021-01-25 09:34] das-nervt commented on #162
hi,
I beleave it is a problem of XFCE4 Status tray.

[2021-01-25 09:34] #162 closed

[2021-01-25 23:54] InvisibleRasta opened #163 "Cant get any radio to load"
Hello guys. I have just built radiotray-ng on my gentoo install and i cant figure out why all the radios will just error saying:
Failed to download playlist.
This is the ebuild i am using:

EAPI=7

inherit cmake-utils

DESCRIPTION="Online radio streaming player"
HOMEPAGE="https://github.com/ebruck/radiotray-ng"

case ${PV} in
9999)
	EGIT_REPO_URI="https://github.com/ebruck/${PN}.git"
	inherit git-

[2021-01-30 15:43] sispus commented on #71
MPRIS support would be good. For kdeconnect you can use commands for now.

[2021-02-11 05:51] aleksandergabriel opened #164 "System play and pause buttons are not captured"
I have Ubuntu 20.04 and in the old RadioTray I could pause and play radio playback using keyboard shortcuts. However at the moment RadioTray-ng does not respond to those commands.
Is this feature missing in this version or is there a bug?

Best regards
Ales

[2021-02-12 12:34] evdbovenkamp commented on #52
Integration/link with radio-browser.info would be a very (!!!) nice feature.

[2021-02-12 19:06] ebruck commented on #164
I don't believe there is much I can do since an appindicator never regains any sort of focus, which would allow it to grab the media keys again.  In my case Chrome tends to be the one holding on to the media keys. If I exit it then it starts working again. I've given up and just assign a few keys on my Microsoft 4000 to dbus commands for play/stop etc.

[2021-02-13 23:43] ebruck commented on #163
I'm sorry I can't help you with this as it's not one of the distros I support. Please see the ebuild creators for help.

[2021-02-13 23:43] #163 closed

[2021-02-13 23:44] #164 closed

[2021-02-17 18:19] tkapias opened #165 "Modifications for package release build on Debian testing (Debian 11)"
I just built the application on Debian testing (pre-11), there were 2 modifications to apply.

I'm going to use it and so I leave you a clue for future updates.

1. Debian is moving from "appindicator3" to "ayatana-appindicator3".
2. Debian, "testing" at least, does not offer libjsoncpp1 but libjsoncpp24.

I corrected 3 files and it **works fine** :

[code]

[code]

[code]

[2021-02-19 05:46] aleksandergabriel commented on #164
Could you share dbus commands.

[2021-03-05 22:18] nostromo123 commented on #165
Thank you for your effort, works so far with Bullseye.

Only thing which is not working as expected, the 'radiotray-ng-off and radiotray-ng-on' icon in the panel stays light gray.

br

[2021-03-06 07:56] nostromo123 opened #166 "Please make radiotray-ng package ready for DEBIAB Bullseye"
Just tested the proposal #165 from tkapias. Working here with Bullseye. But the code should be adjusted.

[2021-03-07 20:28] ebruck commented on #165
@tkapias could you please generate a new build with my latest from the v0.2.8-dev branch? Hopefully I addressed your concerns. Thanks!

[2021-03-07 20:29] #166 closed

[2021-03-08 11:54] tkapias commented on #165
cmake is fine now but make failed.

[code]
There is no problem with the definiton of AYATANA_APPINDICATOR,  ifndef in `src/radiotray-ng/gui/appindicator/appindicator_gui.hpp` seems to not be evaluated?

[2021-03-09 02:23] ebruck commented on #165
@tkapias thanks for testing. Please pull the latest from my dev branch. I setup a vm and can now build under bullseye.

[2021-03-09 05:34] tkapias commented on #165
Still some problem, the build run fine but the package is still asking for libappindicator3-1 as dependency.

Build :

[code]

Package installation error (sorry it's in French ):

[code]

[2021-03-11 20:47] ebruck commented on #165
@tkapias please verify my latest change if you have the time.

[2021-03-14 19:24] #165 closed

[2021-03-15 06:31] tkapias commented on #165
I confirm that the compilation and installation of the Debian package on Bullseye works correctly on v0.2.8-dev.

Thanks a lot.

PS : I didn't know that it was a feature, but I confirm @nostromo123 that the icon in the panel stays light gray at all time.

[2021-03-15 09:12] steveharman opened #167 "Install / build for Mac?"
HI,

I couldn't find a release or build instructions for Mac - did I miss something?

Thanks

[2021-03-15 16:14] ebruck commented on #167
The code as it is today cannot be easily compiled on a Mac. I no longer have the time nor interest in making it work. When I'm on a Mac I use this script to convert my bookmarks into something the Music app can open.
https://github.com/ebruck/radiotray-ng/blob/master/src/radiotray-ng/extras/scripts/rtng2xml

[2021-03-15 16:14] #167 closed

[2021-03-15 16:15] ebruck commented on #165
I don't see that issue. Perhaps try removing the package and reinstall.

[2021-04-05 17:32] ebruck commented on #164
https://github.com/ebruck/radiotray-ng#dbus-interface

[2021-04-27 15:50] PorkPieHat opened #168 "Ogg streams halt after a few minutes playing"
Ogg streams halt after a couple of minutes in my Majaro "Nibia" install. Try this:

https://stream.radioparadise.com/rp_192m.ogg

The problem affected the original radiotray. See this bug report (post #27):

https://bugs.launchpad.net/ubuntu/+source/radiotray/+bug/1557115

A variant of the bug also affected radiotray-lite. See here:

https://github.com/thekvs/radiotray-lite/issues/11

This bug was

[2021-04-29 09:49] PorkPieHat commented on #168
I would say that the issue has to do with the apps handling of metadata in ogg streams. The radio paradise stream quoted above halts on track changes.

This stream - no metadata - plays OK:

[](https://stream.radioparadise.com/rp_192.ogg)

[2021-04-29 09:50] PorkPieHat commented on #168
This stream:

[](https://stream.radioparadise.com/rp_192.ogg)

[2021-04-29 09:51] PorkPieHat commented on #168
This stream:

https://stream.radioparadise.com/rp_192.ogg

[2021-04-29 19:16] ebruck commented on #168
This is a duplicate of https://github.com/ebruck/radiotray-ng/issues/158.
There's nothing I can do to address this.

[2021-04-29 19:16] #168 closed

[2021-06-20 15:06] brunocooutinho opened #169 "[FEATURE REQUEST] Wayland support"
Radiotray doesn't work with wayland. Adding wayland support would future proof the usability of the program.

[2021-06-23 03:26] ebruck commented on #169
@brunocooutinho could you please be more specific as to what is not working?
I've run radiotray-ng on Fedora with Wayland and never had any issues.